Repository DataDog/dd-sdk-android, pull requests merged in 2020-02, with the labels that each got.

#121 RUMM-207 Tracer - Add a configurable partial flush threshold
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/Tracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracerTest.kt
Labels: api-surface-change, ready for review

#120 RUMM-186 Bundle the Log with the current active Trace
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/Log.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensions.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensionsTest.kt
  docs/log_collection.md
Labels: api-surface-change, ready for review

#122 RUMM-203 use env name
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensionsTest.kt
  instrumented/integration/build.gradle.kts
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: api-surface-change, ready for review

#123 RUMM-213 traces auto attributes
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/user/UserFragment.java
  sample/java/src/main/res/drawable/ic_account_circle_black_24dp.xml
  sample/java/src/main/res/layout/fragment_user.xml
  sample/java/src/main/res/menu/navigation.xml
  sample/java/src/main/res/values/strings.xml
Labels: ready for review

#124 RUMM-206 Add the benchmarks for Tracing API
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/Utils.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/trace/TraceApiBenchmark.kt
Labels: ready for review

#126 RUMM-76 okhttp
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  sample/java/build.gradle
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesFragment.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
  sample/java/src/main/res/drawable/ic_cancel_red_24dp.xml
  sample/java/src/main/res/drawable/ic_check_circle_green_24dp.xml
  sample/java/src/main/res/drawable/ic_error_red_24dp.xml
  sample/java/src/main/res/drawable/ic_unknown_grey_24dp.xml
  sample/java/src/main/res/layout/fragment_traces.xml
  sample/java/src/main/res/values/strings.xml
Labels: api-surface-change, ready for review

#125 RUMM-209 Add user agent into traces intake request
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/net/LogsOkHttpUploaderTest.kt
  sample/kotlin/build.gradle.kts
Labels: ready for review

#128 RUMM-184 Give the Writer the capability to handle a list of models
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/Writer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/DeferredWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/NoOpPersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/data/TraceWriterTest.kt
Labels: ready for review

#130 Tweak the tracing benchmarks thresholds
  instrumented/benchmark/build.gradle.kts
Labels: ready for review

#127 RUMM-192 Write tracing documentation
  docs/log_collection.md
  docs/trace_collection.md
Labels: ready for review

#129 RUMM-214 Correctly handle the trace sampling
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
Labels: ready for review

#132 RUMM-227 Log Failed upload status
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/UploadStatus.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/UploadStatusTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
Labels: ready for review

#131 RUMM-228 Update dd-trace-ot version
  LICENSE-3rdparty.csv
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
Labels: ready for review

#134 Mark tracing as experimental in docs
  docs/trace_collection.md
Labels: ready for review

#139 fixing code owners strat
  .github/CODEOWNERS
Labels: documentation

#140 Hotfix 1.2.1
  CHANGELOG.md
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DetektConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/PublishingConfig.kt
Labels: ready for review

#141 RUMM-233 Inject a random TraceId on top level spans
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/Tracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensionsTest.kt
Labels: api-surface-change, ready for review

#142 RUMM-223 Add the GesturesTracker
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/BenchmarkJsonFileVisitor.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkExtension.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkResultsTask.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/gestures/DatadogGesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/gestures/DatadogGesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/gestures/GesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/gestures/NoOpWindowCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/gestures/DatadogGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/gestures/DatadogGesturesTrackerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/gestures/WindowCallbackWrapperTest.kt
  dd-sdk-android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogIOBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumGesturesTrackerBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/trace/TraceApiBenchmark.kt
  instrumented/benchmark/src/main/AndroidManifest.xml
  instrumented/benchmark/src/main/kotlin/com/datadog/android/sdk/benchmark/rum/RumTrackedActivity.kt
  instrumented/benchmark/src/main/res/layout/item_layout.xml
  instrumented/benchmark/src/main/res/layout/rum_activity_layout.xml
  instrumented/benchmark/src/main/res/values/strings.xml
Labels: ready for review

#149 RUMM-255 traces content type
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
Labels: ready for review

#152 Hotfix 1.2.2
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/PublishingConfig.kt
Labels: ready for review

#150 RUMM-234 Expose the isInitialized method to Public API
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  docs/log_collection.md
Labels: api-non-breaking-change, api-surface-change

#151 RUMM-258 TraceInterceptor - fallback to local tracer if no global
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ready for review

#155 RUMM-235 LogcatHandler - add caller classname as tag when in debug
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/NetworkTimeInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/test/java/com/datadog/android/log/LoggerBuilderJavaTest.java
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
Labels: ready for review

#156 RUMM-263 _dd.source
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
Labels: ready for review

#158 Prevent crash on Runtime shutdown
  .gitlab-ci.yml
  build.gradle.kts
  dd-sdk-android-timber/src/test/kotlin/com/datadog/android/timber/DatadogTreeTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
Labels: ready for review

#153 RUMM-247 RUM Resource Interceptor
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInterceptorTest.kt
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
Labels: api-non-breaking-change, api-surface-change, ready for review
