Repository DataDog/dd-sdk-android, pull requests merged in 2020-12, with the labels that each got.

#426 RUMM-767 iOS Bridge
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdSdk.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdSdkConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeSdk.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/DdBridgeTest.kt
Labels: api-surface-change, size-huge

#421 Report SIG Abort crashes from the ndk
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
Labels: size-tiny

#427 RUMM-906 Sanitise the custom attributes keys for all the events
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/res/layout/fragment_user.xml
Labels: size-large

#432 RUMM-912 Json schema read only properties
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeProperty.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReaderTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGeneratorTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/example/forgery/ForgeryConfiguration.kt
  buildSrc/src/test/kotlin/com/example/forgery/MessageForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Article.kt
  buildSrc/src/test/kotlin/com/example/model/Book.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  buildSrc/src/test/kotlin/com/example/model/Customer.kt
  buildSrc/src/test/kotlin/com/example/model/DateTime.kt
  buildSrc/src/test/kotlin/com/example/model/Delivery.kt
  buildSrc/src/test/kotlin/com/example/model/Demo.kt
  buildSrc/src/test/kotlin/com/example/model/Foo.kt
  buildSrc/src/test/kotlin/com/example/model/Message.kt
  buildSrc/src/test/kotlin/com/example/model/Opus.kt
  buildSrc/src/test/kotlin/com/example/model/Person.kt
  buildSrc/src/test/kotlin/com/example/model/Style.kt
  buildSrc/src/test/kotlin/com/example/model/User.kt
  buildSrc/src/test/kotlin/com/example/model/UserMerged.kt
  buildSrc/src/test/kotlin/com/example/model/Video.kt
  buildSrc/src/test/resources/input/enum.json
  buildSrc/src/test/resources/input/read_only.json
Labels: size-medium

#430 RUMM-787 Add view.is_active attribute to RUM Views
  dd-sdk-android/src/main/json/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/SpanExt.kt
Labels: size-tiny

#431 RUMM-872 Provide SDK benchmarks report
  docs/README.md
  docs/sdk_benchmarks.md
Labels: size-tiny

#429 RUMM-899 Extract bridge
  build.gradle.kts
  dd-sdk-android-bridge/README.md
  dd-sdk-android-bridge/apiSurface
  dd-sdk-android-bridge/build.gradle.kts
  dd-sdk-android-bridge/src/main/AndroidManifest.xml
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdBridge.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdLogs.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdRum.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdSdk.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdSdkConfiguration.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/DdTrace.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/internal/BridgeLogs.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/internal/BridgeRum.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/internal/BridgeSdk.kt
  dd-sdk-android-bridge/src/main/kotlin/com/datadog/android/bridge/internal/BridgeTrace.kt
  dd-sdk-android-bridge/src/test/kotlin/com/datadog/android/bridge/DdBridgeTest.kt
  dd-sdk-android-bridge/src/test/kotlin/com/datadog/android/bridge/internal/BridgeLogsTest.kt
  dd-sdk-android-bridge/src/test/kotlin/com/datadog/android/bridge/internal/BridgeRumTest.kt
  dd-sdk-android-bridge/src/test/kotlin/com/datadog/android/bridge/internal/BridgeTraceTest.kt
  dd-sdk-android-bridge/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  dd-sdk-android-bridge/transitiveDependencies
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/DatadogCoilRequestListenerTest.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/DatadogFrescoCacheListenerTest.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/utils/Configurator.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/CloseableExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/OkHttpRequestExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/SpanExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/utils/Configurator.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRumErrorConsumerTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRxExtTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/Configurator.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/SqlDelightExtTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/Configurator.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/ThrowableForgeryFactory.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/CPUProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/MemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/ThrowableForgeryFactory.kt
  settings.gradle.kts
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/BaseConfigurator.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/ThrowableForgeryFactory.kt
Labels: api-surface-change, size-huge

#434 Cleanups and Fixes
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/DeferredWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  docs/README.md
Labels: size-small

#433 RUMM-911 Remove deprecated APIs
  dd-sdk-android-glide/apiSurface
  dd-sdk-android-glide/src/main/kotlin/com/datadog/android/glide/DatadogGlideModule.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/EndpointUpdateStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
Labels: api-surface-change, size-huge

#436 RUMM-916 Introduce the wild card host for the FirstPartyHostDetector
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/FirstPartyHostDetector.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/FirstPartyHostDetectorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
Labels: size-medium, size-small

#435 RUMM-910 Keep all custom actions
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
Labels: api-surface-change, size-huge, size-large

#437 RUMM-918 Prevent crash callback network
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
Labels: api-surface-change, size-tiny

#438 RUMM-920 Prevent NPE when adding a Global RUM attributes wit…
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
Labels: size-tiny

#440 :pencil: Update the documentation and screenshots
  README.md
  docs/images/screenshot.png
  docs/images/screenshot_apm.png
  docs/images/screenshot_crash.png
  docs/images/screenshot_logs.png
  docs/images/screenshot_rum.png
Labels: size-tiny

#442 RUMM-88 Add provider for first party RUM Resource/Error events
  .idea/codeStyles/Project.xml
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/_common-schema.json
  dd-sdk-android/src/main/json/action-schema.json
  dd-sdk-android/src/main/json/error-schema.json
  dd-sdk-android/src/main/json/long_task-schema.json
  dd-sdk-android/src/main/json/resource-schema.json
  dd-sdk-android/src/main/json/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-medium

#443 RUMM-893 Add variant tag
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Credentials.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/event/NoOpEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/plugin/DatadogPluginConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/plugin/Feature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategyApi29.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/UserActionTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ConfigurationRumAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCoreForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCrashReportForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationFeatureForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationLogForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationRumForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationTracingForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/CredentialsForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-huge

#444 RUMM-906 Warn and allow usage of URLs for first party hosts
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-small

#446 Feature bridge
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/DatadogCoilRequestListenerTest.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/DatadogFrescoCacheListenerTest.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/utils/Configurator.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/CloseableExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/OkHttpRequestExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/SpanExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/utils/Configurator.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRumErrorConsumerTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRxExtTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/Configurator.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/SqlDelightExtTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/Configurator.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/ThrowableForgeryFactory.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/Time.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/TimeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/CPUProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/MemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/ThrowableForgeryFactory.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/BaseConfigurator.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/ThrowableForgeryFactory.kt
Labels: size-medium

#445 Fix .gitignore configuration for config folder
  .gitignore
Labels: size-tiny

#447 RUMM-930 Sanitise and verify first party hosts for valid host name or ip address (new config)
  dd-sdk-android/src/main/kotlin/com/datadog/android/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
Labels: size-medium

#450 RUMM-938 Update RUM events json schemas
  dd-sdk-android/src/main/json/_common-schema.json
  dd-sdk-android/src/main/json/action-schema.json
  dd-sdk-android/src/main/json/error-schema.json
  dd-sdk-android/src/main/json/long_task-schema.json
  dd-sdk-android/src/main/json/resource-schema.json
  dd-sdk-android/src/main/json/view-schema.json
Labels: size-tiny

#449 RUMM-923 Provide docs for RUM data scrubbing feature
  docs/rum_collection.md
Labels: size-tiny

#452 RUMM-947 rum error timestamp
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-tiny
