Repository DataDog/dd-sdk-android, pull requests merged in 2020-06, with the labels that each got.

#285 RUMM-483 Fix timing on failing requests
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerTest.kt
Labels: api-surface-change, ready for review

#288 RUMM-488 Fix status case for logs
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/EndToEndTraceTest.kt
Labels: ready for review

#287 RUMM-487 DatadogConfig change trackGestures to trackInteractions method name
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  docs/rum_collection.md
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/core/CoreInitBenchmark.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumGesturesTrackingActivityTestRule.kt
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: api-surface-change

#292 RUMM-510 Prevent malformed payload if writing data fails
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
Labels: ready for review

#294 [documentation] removing a beta note
  docs/trace_collection.md
Labels: api-non-breaking-change, documentation, ready for review

#302 RUMM-532 TracingRequestInterceptor - provide ability to modify created Span
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracedRequestListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptorTest.kt
Labels: api-surface-change

#301 RUMM-527 Track view loading time in ViewTrackingStrategies
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/AndroidXFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/FragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewLoadingTimer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityLifecycleTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/AndroidXFragmentLifecycleCallbacksTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacksTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/ViewLoadingTimerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategyTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumActivityTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumFragmentTrackingTests.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumActivityTrackingPlaygroundActivity.kt
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
Labels: api-non-breaking-change, api-surface-change
