Repository DataDog/dd-sdk-android, pull requests merged in 2020-10, with the labels that each got.

#389 RUMM-754 Allow Span decoration from the SQLiteDatabase#transactionTraced
  dd-sdk-android-ktx/README.md
  dd-sdk-android-ktx/apiSurface
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExt.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExtTest.kt
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/contentprovider/DatadogContentProvider.kt
Labels: api-surface-change, size-tiny

#388 RUMM-752 Provide SQLDelight extensions for traced transactions
  dd-sdk-android-sqldelight/README.md
  dd-sdk-android-sqldelight/apiSurface
  dd-sdk-android-sqldelight/src/main/kotlin/com/datadog/android/sqldelight/SqlDelightExt.kt
  dd-sdk-android-sqldelight/src/main/kotlin/com/datadog/android/sqldelight/TransactionWithSpanAndWithReturn.kt
  dd-sdk-android-sqldelight/src/main/kotlin/com/datadog/android/sqldelight/TransactionWithSpanAndWithoutReturn.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/SqlDelightExtTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/Configurator.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/ThrowableForgeryFactory.kt
  sample/kotlin/src/sqldelight/kotlin/com/datadog/android/sample/data/db/LocalDataSource.kt
Labels: api-surface-change, size-medium

#392 Update trace_collection.md
  docs/trace_collection.md
Labels: size-tiny

#394 RUMM-761 setTheme on activity
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/AbstractGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTrackerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerTapTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/res/values-v21/themes.xml
  sample/kotlin/src/main/res/values/colors.xml
  sample/kotlin/src/main/res/values/themes.xml
Labels: size-small

#393 RUMM-727 Provide docs for SDK performance metrics
  docs/README.md
  docs/sdk_performance.md
Labels: size-tiny

#395 Add reference to Application ID definition through RUM
  docs/log_collection.md
Labels: size-tiny

#397 RUMM-799 Cleanup dependencies
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/transdeps/TransitiveDependenciesPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/transdeps/TransitiveDependenciesTask.kt
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-coil/transitiveDependencies
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-fresco/transitiveDependencies
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-glide/transitiveDependencies
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/transitiveDependencies
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/transitiveDependencies
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/transitiveDependencies
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/transitiveDependencies
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-timber/transitiveDependencies
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/transitiveDependencies
  sample/kotlin/build.gradle.kts
Labels: api-surface-change, size-large

#398 RUMM-800 Some cleanup on the OpenTracing java source code
  .idea/codeStyles/Project.xml
  dd-sdk-android/src/main/java/datadog/opentracing/DDTracer.java
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/BigIntegerFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/opentracing/DDSpanContextTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/opentracing/assertj/DDSpanContextAssert.kt
Labels: size-large

#399 Add Zen doc
  ZEN.md
Labels: size-tiny

#400 RUMM-852 prevent crash with SecurityException
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
Labels: api-surface-change, size-huge
