Repository DataDog/dd-sdk-android, pull requests merged in 2020-01, with the labels that each got.

#72 Doc update
  .github/CODEOWNERS
  README.md
  docs/Migrating_To_1.0.0.md
  docs/README.md
  docs/images/screenshot.png
  docs/log_collection.md
Labels: documentation

#73 ⚡️RUMM-48 gzip
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/utils/utils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptorTest.kt
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  sample/kotlin-timber/build.gradle.kts
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
Labels: ready for review

#76 Ignore the Memory Profiling Tests
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/LightMemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/MemoryProfileForLogs.kt
Labels: ready for review

#77 RUMM-148 Remove rootDir dependency from FileWriter
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/Orchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/file/LogFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/FileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileWriterInvalidTest.kt
  dd-sdk-android/testPathName
Labels: ready for review

#78 RUMM-166 Fix DateFormatting pattern
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
Labels: ready for review

#74 RUMM-150 network speed
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/NetworkInfo.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/NetworkInfoAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/forge/NetworkInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/CallbackNetworkInfoProviderTest.kt
Labels: ready for review

#80 Run instrumented test on lowest and highest APIs
  bitrise.yml
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/CpuProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/MockServerRule.kt
Labels: ready for review

#79 Add logger creation in documentation
  docs/log_collection.md
Labels: documentation

#81 RUMM-159 crash report
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/file/LogFileStrategyBenchmarking.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/DeferredWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/file/LogFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
  sample/java/src/main/java/com/datadog/android/sample/logs/LogsFragment.java
  sample/java/src/main/res/layout/fragment_logs.xml
  sample/java/src/main/res/values/strings.xml
Labels: ready for review

#82 Wording update
  docs/log_collection.md
Labels: documentation

#85 RUMM-160 work manager
  LICENSE-3rdparty.csv
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/Reader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogUploadRunnable.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileExtensionsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/NetworkTimeInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/DatadogTimeProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/FileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/CombinedLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/ConditionalLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/BroadcastReceiverNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/CallbackNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/system/BroadcastReceiverSystemInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/BatchForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/NetworkInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ThrowableForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/UserInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/WorkerParametersForgeryFactory.kt
  dd-sdk-android/testPathName
Labels: ready for review

#84 RUMM- 149 Extract the PersistenceStrategy abstract layer
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/file/LogFileStrategyBenchmarking.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/file/LogFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/FileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileDataMigratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
Labels: ready for review

#88 RUMM-168 Fix flaky test for DatadogTimeProvider
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/DatadogTimeProviderTest.kt
Labels: ready for review

#92 RUMM-176 Publish Timber artifact along with SDK
  .gitlab-ci.yml
Labels: ready for review

#89 RUMM-170 Allow Datadog.initialize() to be called more than once
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
Labels: ready for review

#87 RUMM-167 Add slack notification on publish task
  .gitlab-ci.yml
Labels: ready for review

#93 RUMM-169 Trigger UploadWorker when exiting process
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyLinker.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/ModifiedPathsProvider.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyLinkerTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
Labels: ready for review

#96 RUMM-155 API Surface plugin
  .github/labeler.yml
  .github/workflows/labels.yml
  .gitlab-ci.yml
  LICENSE-3rdparty.csv
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/ApiSurfacePlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/CheckApiSurfaceChangesTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/GenerateApiSurfaceTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitor.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyTask.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitorTest.kt
  dd-sdk-android-timber/apiSurface
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android/apiSurface
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraints.kt
Labels: api-surface-change, ready for review

#97 RUMM-178 Run Benchmark tests on Pull Requests
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/ApiSurfacePlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/CheckApiSurfaceTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/BenchmarkJsonFileVisitor.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkExtension.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkResultsTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/Benchmark.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkContext.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkMetrics.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkResult.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkTargetBuild.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkTimeMetrics.kt
  instrumented/benchmark/build.gradle.kts
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/CpuProfileForLogs.kt
Labels: ready for review

#100 RUMM-185 downgrade ok http
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptorTest.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/AbstractProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/MockServerRule.kt
Labels: ready for review

#99 RUMM-173 Introduce the Android TracesWriter
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/CheckApiSurfaceTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/GenerateApiSurfaceTask.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/file/LogFileStrategyBenchmarking.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/DeferredWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/Tracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/JsonObjectAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/assertj/TracerConfigAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/data/TraceWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/SpanExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/JsonObjectExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/SpanForgeryFactory.kt
  instrumented/benchmark/build.gradle.kts
  sample/java/build.gradle
Labels: api-non-breaking-change, api-surface-change, ready for review

#101 RUMM-188 make library compatible with API-19
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/androidTest/AndroidManifest.xml
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/file/LogFileStrategyBenchmarking.kt
  dd-sdk-android/src/androidTest/kotlin/com/datadog/android/internal/utils/utils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProviderTest.kt
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/integration/build.gradle.kts
  sample/java/build.gradle
Labels: ready for review

#107 RUMM-196 Let Crash logs use the EMERGENCY status
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/Log.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogForgeryFactory.kt
Labels: ready for review

#106 RUMM-164 Fix integrated tests
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  instrumented/benchmark/build.gradle.kts
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/assertj/HeadersAssert.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/CPUProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/MemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/ActivityLifecycleLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/ActivityLocalAttributesLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/ActivityLoggerTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/BatteryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/CpuProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/LightMemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/profiling/MemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/AbstractProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/BatteryProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/CpuProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/MemoryProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/MockServerRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/SystemUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/assertj/LogsListAssert.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/AbstractProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/CPUProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MemoryProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/SystemUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/ThrowableForgeryFactory.kt
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/IntegrationTestsApplication.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/Runtime.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/log/ActivityLifecycleLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integrationtests/ActivityLifecycleLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integrationtests/ActivityLocalAttributesLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integrationtests/ActivityProfiling.kt
  instrumented/integration/src/main/res/drawable/ic_test_24dp.xml
  instrumented/integration/src/main/res/layout/main_activity_layout.xml
  instrumented/integration/src/main/res/layout/profiling_activity_layout.xml
  instrumented/integration/src/main/res/values/strings.xml
  tools/unit/build.gradle.kts
  tools/unit/src/main/kotlin/com/datadog/tools/unit/assertj/JsonObjectAssert.kt
Labels: ready for review

#110 RUMM-134 Fix typos and remove unused constant
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraints.kt
Labels: ready for review

#109 RUMM-165 Prevent crashing the app when the SDK is not Initialized
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
Labels: ready for review

#111 RUMM-198 allow json attribute
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/JsonArrayForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/JsonObjectForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/JsonPrimitiveForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogForgeryFactory.kt
  sample/java/build.gradle
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/MainActivity.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/assertj/JsonObjectAssert.kt
Labels: api-surface-change, ready for review

#112 RUMM-197 Deprecate the setEndpointUrl method
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitor.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitorTest.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/EndpointUpdateStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/IntegrationTestsApplication.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/log/ActivityLifecycleLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integrationtests/ActivityProfiling.kt
Labels: api-surface-change, ready for review

#116 RUMM-183 Correct traces timestamp
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/DatadogTimeProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/TimeProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/DatadogTimeProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/BigIntegetExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/JsonObjectExt.kt
Labels: api-surface-change, ready for review

#114 RUMM-189 add benchmark test on File I/O
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogIOBenchmark.kt
  tools/unit/build.gradle.kts
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/Throwable.kt
Labels: ready for review

#115 RUMM-181 Add traces in sample apps
  sample/java/build.gradle
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/logs/LogsFragment.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesFragment.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  sample/java/src/main/res/drawable/ic_timeline_black_24dp.xml
  sample/java/src/main/res/layout/fragment_traces.xml
  sample/java/src/main/res/menu/navigation.xml
  sample/java/src/main/res/values/strings.xml
  sample/kotlin-timber/build.gradle.kts
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/MainActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/logs/LogsFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/src/main/res/drawable/ic_timeline_black_24dp.xml
  sample/kotlin/src/main/res/layout/fragment_logs.xml
  sample/kotlin/src/main/res/layout/fragment_traces.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: ready for review
