Repository DataDog/dd-sdk-android, pull requests merged in 2020-05, with the labels that each got.

#245 RUMM-429 resource Http error
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
Labels: ready for review

#252 Ensure ktx artifact is built and published to bintray on tags
  .gitlab-ci.yml
  buildSrc/src/main/kotlin/com/datadog/gradle/config/PublishingConfig.kt
Labels: ready for review

#255 RUMM-436 fix span intake
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/AsyncWriterFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/PayloadDecoration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashLogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/BatchExt.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/EndToEndTraceTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/StringExtensions.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
Labels: ready for review

#254 RUMM-418 Introduce the MixedViewTrackingStrategy
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/MixedViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/MixedViewTrackingStrategyTest.kt
Labels: api-surface-change

#256 RUMM-439 Add View url information in all rum events
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: ready for review

#257 RUMM-434 Add Network info on RUM resources and errors
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
Labels: api-surface-change, ready for review

#259 RUMM-433 resource timing
  .idea/codeStyles/Project.xml
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/RequestUniqueIdentifier.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataResourceAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataResourceForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataResourceTimingForgeryFactory.kt
  docs/rum_collection.md
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
Labels: api-surface-change, ready for review

#258 RUMM-441 Update the APM and RUM features docs
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  docs/rum_collection.md
  docs/trace_collection.md
Labels: ready for review

#260 RUMM-440 Condition the OkHttp APM tracing on provided domains list
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptorTest.kt
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
Labels: api-non-breaking-change, api-surface-change, ready for review

#261 RUMM-445 Let user add global RUM attributes
  .idea/codeStyles/codeStyleConfig.xml
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
Labels: api-surface-change, ready for review

#264 RUMM-354 Add a ForegroundLogsService into the Sample app
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/logs/LogsFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/service/LogsForegroundService.kt
  sample/kotlin/src/main/res/layout/fragment_logs.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: ready for review

#262 RUMM-438 Use request identifier to track ongoing request spans
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/RequestUniqueIdentifier.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/RequestUniqueIdentifierTest.kt
Labels: ready for review

#265 RUMM-423 Update dd trace ot
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitclone/GitCloneDependenciesExtension.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitclone/GitCloneDependenciesTask.kt
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/java/datadog/common/exec/CommonTaskExecutor.java
  dd-sdk-android/src/main/java/datadog/opentracing/DDSpan.java
  dd-sdk-android/src/main/java/datadog/opentracing/DDSpanContext.java
  dd-sdk-android/src/main/java/datadog/opentracing/DDTracer.java
  dd-sdk-android/src/main/java/datadog/opentracing/PendingTrace.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/AnalyticsSampleRateDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/DBStatementAsResourceName.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/DBTypeDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/DDDecoratorsFactory.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/ErrorFlag.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/OperationDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/ResourceNameDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/SpanTypeDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/Status404Decorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/decorators/Status5XXDecorator.java
  dd-sdk-android/src/main/java/datadog/opentracing/propagation/HttpCodec.java
  dd-sdk-android/src/main/java/datadog/trace/api/Config.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/TraceProcessor.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/AnalyticsSampleRateRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/DBStatementRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/ErrorRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/HttpStatusErrorRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/ResourceNameRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/SpanTypeRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/Status404Rule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/URLAsResourceNameRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/writer/ListWriter.java
Labels: ready for review

#268 RUMM-450 Keep session alive every 5 minutes
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/service/LogsForegroundService.kt
Labels: ready for review

#271 RUMM-447 Add troubleshooting for tracking view events in FragmentViewPager
  docs/TROUBLESHOOTING.md
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/ViewPagerActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/viewpager/FragmentA.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/viewpager/FragmentB.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/viewpager/FragmentC.kt
  sample/kotlin/src/main/res/drawable/ic_view_array_black_24dp.xml
  sample/kotlin/src/main/res/layout/activity_view_pager.xml
  sample/kotlin/src/main/res/layout/view_pager_child_fragment_layout.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: ready for review

#269 RUMM-454 Update docs - outline manual view tracking mode as default mode
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  docs/rum_collection.md
Labels: ready for review

#272 RUMM-466 resource timing
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitor.kt
  dd-sdk-android-timber/apiSurface
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewTreeChangeTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: api-surface-change, ready for review

#275 RUM format v2
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumResourceType.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategyApi29.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/Gesture.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ActionTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/JetpackViewAttributesProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ViewAttributesProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebViewClient.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumResourceTypeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebViewClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumConfigAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataActionAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataErrorAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataResourceAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataViewAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataViewMeasuresAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventDataTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerTapTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/JetpackViewAttributesProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataActionForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataErrorForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataResourceForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataViewForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataViewMeasureForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumManualApiBenchmark.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
Labels: api-surface-change, ready for review

#273 RUMM-464 update documentation
  CONTRIBUTING.md
  dd-sdk-android-timber/README.md
  dd-sdk-android/README.md
  docs/TROUBLESHOOTING.md
  docs/log_collection.md
  docs/rum_collection.md
  docs/trace_collection.md
Labels: ready for review

#278 RUMM-476 Send application version as tag for Log events
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
Labels: api-non-breaking-change, api-surface-change, ready for review

#277 RUMM-480 Ignore time correction if offset is too small
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/DatadogTimeProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/DatadogTimeProviderTest.kt
Labels: ready for review

#279 RUMM-481 improve span data
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/java/datadog/trace/common/processor/TraceProcessor.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/AnalyticsSampleRateRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/DBStatementRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/ErrorRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/HttpStatusErrorRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/ResourceNameRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/SpanTypeRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/Status404Rule.java
  dd-sdk-android/src/main/java/datadog/trace/common/processor/rule/URLAsResourceNameRule.java
  dd-sdk-android/src/main/java/datadog/trace/common/writer/ListWriter.java
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
Labels: ready for review
