Repository DataDog/dd-sdk-android, pull requests merged in 2020-11, with the labels that each got.

#401 RUMM-834 Introduce the DefaultConsentAwareDataHandler
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/ConsentAwareDataHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DataProcessorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DefaultConsentAwareDataHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DefaultMigratorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/MigratorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/migrators/BatchedDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/migrators/MoveDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/migrators/WipeDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/processors/DataProcessor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/Consent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/ConsentProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/ConsentProviderCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/PrivacyConsentProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DataProcessorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DefaultConsentAwareDataHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DefaultMigratorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/privacy/PrivacyConsentProviderTest.kt
Labels: size-large, size-medium

#403 RUMM-836 Update Public API for GDPR
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DataProcessorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DefaultConsentAwareDataHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/DefaultMigratorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/MigratorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/migrators/MoveDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/batching/migrators/WipeDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/Consent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/ConsentProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/ConsentProviderCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/privacy/TrackingConsentProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/privacy/TrackingConsent.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DataProcessorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DefaultConsentAwareDataHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/batching/DefaultMigratorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/privacy/TrackingConsentProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
Labels: api-surface-change, size-large

#405 RUMM-838 Introduce the basic BatchedDataMigrator implementations
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/batching/DefaultMigratorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/batching/migrators/MoveDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/batching/migrators/WipeDataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/batching/DefaultMigratorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/batching/migrators/MoveDataMigratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/batching/migrators/WipeDataMigratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/MiscUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
Labels: api-surface-change, size-huge, size-large

#407 RUMM-870 Make sure we get the current network state on start
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
Labels: api-surface-change, size-huge

#411 RUMM-884 Use JUnit5 assumptions
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/resource/RumResourceInputStreamTest.kt
Labels: size-tiny

#415 RUMM-784 Introduce the ConsentPendingToNotGranted End-to-End tests
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/ConsentPendingNotGrantedLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/LogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/ConsentPendingNotGrantedTracesTest.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/trace/ActivityLifecycleTrace.kt
Labels: api-surface-change, size-huge

#414 RUMM-889 Add GDPR use case in the sample app
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileHandlerTest.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/Preferences.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/gdpr/GdprDialogFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/res/drawable/ic_baseline_lock_open_24.xml
  sample/kotlin/src/main/res/layout/fragment_gdpr.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/navigation/nav_graph.xml
  sample/kotlin/src/main/res/values/dimens.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-surface-change, size-huge

#417 RUMM-897 Wipe pending data when consent switched to from any state P…
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/batching/DefaultMigratorFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/batching/DefaultMigratorFactoryTest.kt
Labels: api-surface-change, size-huge

#419 RUMM-768 Bridge implementation
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-fresco/transitiveDependencies
  dd-sdk-android-glide/transitiveDependencies
  dd-sdk-android-ktx/transitiveDependencies
  dd-sdk-android-ndk/transitiveDependencies
  dd-sdk-android-rx/transitiveDependencies
  dd-sdk-android-sqldelight/transitiveDependencies
  dd-sdk-android-timber/transitiveDependencies
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DatadogConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdLogs.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/DdTrace.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeDatadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeLogs.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeTrace.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/DdBridgeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/internal/BridgeLogsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/internal/BridgeRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/internal/BridgeTraceTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/transitiveDependencies
Labels: api-surface-change, size-huge, size-large

#420 RUMM-887 Provide user extra information through Public API
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/user/UserInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/MiscUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/JsonObjectAssertExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/UserInfoForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/Preferences.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/res/layout/fragment_user.xml
  sample/kotlin/src/main/res/values/arrays.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-surface-change, size-medium

#424 RUMM-326 Let user register a custom timing event
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/TracesTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/logs/LogsFragment.kt
Labels: api-surface-change, size-large, size-small

#423 RUMM-899 allow timestamp override
  dd-sdk-android/src/main/kotlin/com/datadog/android/bridge/internal/BridgeRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/Time.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/bridge/internal/BridgeRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/TimeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: api-surface-change, size-huge
