Repository DataDog/dd-sdk-android, pull requests merged in 2020-03, with the labels that each got.

#161 RUMM-262 logcat link
  dd-sdk-android-timber/src/test/kotlin/com/datadog/android/timber/DatadogTreeTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/test/java/com/datadog/android/log/LoggerBuilderJavaTest.java
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/FileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/logs/LogsFragment.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemErrorStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemOutStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/assertj/ByteArrayOutputStreamAssert.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/assertj/JsonObjectAssert.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtension.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtensionTest.kt
Labels: ready for review

#162 RUMM-219 Add activity screen tracker
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/TrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/NoOpWindowCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/ActivityTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/TrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTrackerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumGesturesTrackerBenchmark.kt
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin-timber/build.gradle.kts
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: api-non-breaking-change, api-surface-change, ready for review

#166 RUMM-278 Prevent OutOfMemory crash
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
Labels: ready for review

#167 RUMM-271 Provide the TrackFragmentsAsViewsStrategy
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-timber/README.md
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/TrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/UserActionTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/ViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/TrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityLifecycleTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumConfigAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategyTest.kt
  dd-sdk-androidx-fragment/.gitignore
  dd-sdk-androidx-fragment/README.md
  dd-sdk-androidx-fragment/apiSurface
  dd-sdk-androidx-fragment/build.gradle.kts
  dd-sdk-androidx-fragment/src/main/AndroidManifest.xml
  dd-sdk-androidx-fragment/src/main/kotlin/com/datadog/android/androidx/fragment/CompatFragmentLifecycleCallbacks.kt
  dd-sdk-androidx-fragment/src/main/kotlin/com/datadog/android/androidx/fragment/FragmentViewTrackingStrategy.kt
  dd-sdk-androidx-fragment/src/main/kotlin/com/datadog/android/androidx/fragment/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-androidx-fragment/src/test/kotlin/com/datadog/android/androidx/fragment/CompatFragmentLifecycleCallbacksTest.kt
  dd-sdk-androidx-fragment/src/test/kotlin/com/datadog/android/androidx/fragment/FragmentViewTrackingStrategyTest.kt
  dd-sdk-androidx-fragment/src/test/kotlin/com/datadog/android/androidx/fragment/LifecycleCallbacksTest.kt
  dd-sdk-androidx-fragment/src/test/kotlin/com/datadog/android/androidx/fragment/OreoFragmentLifecycleCallbacksTest.kt
  dd-sdk-support-fragment/.gitignore
  dd-sdk-support-fragment/README.md
  dd-sdk-support-fragment/apiSurface
  dd-sdk-support-fragment/build.gradle.kts
  dd-sdk-support-fragment/src/main/AndroidManifest.xml
  dd-sdk-support-fragment/src/main/kotlin/com/datadog/android/support/fragment/CompatFragmentLifecycleCallbacks.kt
  dd-sdk-support-fragment/src/main/kotlin/com/datadog/android/support/fragment/FragmentViewTrackingStrategy.kt
  dd-sdk-support-fragment/src/main/kotlin/com/datadog/android/support/fragment/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-support-fragment/src/test/kotlin/com/datadog/android/support/fragment/CompatFragmentLifecycleCallbacksTest.kt
  dd-sdk-support-fragment/src/test/kotlin/com/datadog/android/support/fragment/FragmentViewTrackingStrategyTest.kt
  dd-sdk-support-fragment/src/test/kotlin/com/datadog/android/support/fragment/LifecycleCallbacksTest.kt
  dd-sdk-support-fragment/src/test/kotlin/com/datadog/android/support/fragment/OreoFragmentLifecycleCallbacksTest.kt
  sample/java/build.gradle
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin-timber/build.gradle.kts
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  settings.gradle.kts
Labels: api-non-breaking-change, api-surface-change, ready for review

#172 :bug: (RUMM-244): Prevent sending closed view twice
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: ready for review

#170 Add RUM info in Logs and Traces
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/Log.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/NoOpLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogIOBenchmark.kt
Labels: api-surface-change, ready for review

#171 RUMM-237 Add the end - to - end tests for Rum GesturesTracker
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/EndToEndTraceTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integrationtests/utils/MockServerRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/StringExtensions.kt
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumGesturesTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/res/layout/gestures_tracking_layout.xml
  instrumented/integration/src/main/res/values/strings.xml
Labels: ready for review

#174 :bug: (RUMM-285): Prevent concurrent access to SimpleDateFormat
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/NetworkTimeInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
Labels: ready for review

#177 Changing baklava to documentation
  .github/CODEOWNERS
Labels: documentation

#178 RUMM-270 Build tools and SDK dependencies update
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ListenableFutureFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/WorkerParametersForgeryFactory.kt
  detekt.yml
  gradle.properties
Labels: ready for review

#181 RUMM-256 Add the UTC timestamp as query parameter
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/NoOpDataUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/net/LogsOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderTest.kt
Labels: ready for review

#182 RUMM-275 Fix the docs links
  docs/README.md
Labels: ready for review

#183 RUMM-261 user action duration
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataActionAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataUserActionForgeryFactory.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumActivityTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
Labels: api-surface-change, ready for review

#184 RUMM-210 Update tracing documentation
  docs/log_collection.md
  docs/trace_collection.md
Labels: ready for review

#186 RUMM-304 Share one single writer per feature
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/AsyncWriterFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
Labels: ready for review

#185 RUMM-254 Use thread pools for read write operations
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/DeferredWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadHandlerThread.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadScheduler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/NoOpDataUploadScheduler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadScheduler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/AsyncWriterFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/threading/LazyHandlerThread.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/DeferredWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadSchedulerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/threading/LazyHandlerThreadTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
Labels: ready for review

#190 Update the versioning model
  buildSrc/src/main/kotlin/com/datadog/gradle/utils/Version.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/utils/VersionTest.kt
Labels: ready for review

#188 RUMM-264 Introduce the Logs Sampler
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/sampling/RateBasedSampler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/sampling/Sampler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/sampling/RateBasedSamplerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  docs/log_collection.md
Labels: api-non-breaking-change, api-surface-change, ready for review

#191 RUMM-308 Make Logger methods Thread safe
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MapUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
Labels: ready for review

#194 RUMM-315 Add a benchmark on the SDK initialize
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/core/CoreInitBenchmark.kt
Labels: ready for review

#196 Fixing bullet list indentation
  docs/log_collection.md
Labels: documentation

#198 RUMM-221 Webview Integrations
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumWebChromeClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumWebViewClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/NoOpRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebChromeClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebViewClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  sample/java/build.gradle
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
Labels: api-surface-change, ready for review

#197 RUMM-331 Tracer - add helper methods for logging an error
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  docs/trace_collection.md
Labels: api-surface-change, ready for review

#201 Detekt unsafe null
  dd-sdk-android-androidx-fragment/src/main/kotlin/com/datadog/android/androidx/fragment/CompatFragmentLifecycleCallbacks.kt
  dd-sdk-android-androidx-fragment/src/main/kotlin/com/datadog/android/androidx/fragment/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android-support-fragment/src/main/kotlin/com/datadog/android/support/fragment/CompatFragmentLifecycleCallbacks.kt
  dd-sdk-android-support-fragment/src/main/kotlin/com/datadog/android/support/fragment/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategy.kt
  tools/detekt/src/main/kotlin/com/datadog/tools/detekt/DatadogProvider.kt
  tools/detekt/src/main/kotlin/com/datadog/tools/detekt/rules/UnsafeCallOnNullableType.kt
  tools/detekt/src/test/kotlin/com/datadog/tools/detekt/rules/UnsafeCallOnNullableTypeTest.kt
Labels: ready for review

#200 RUMM-335 Create constants for Attributes
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumWebViewClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/NoOpRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebViewClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataResourceAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataResourceForgeryFactory.kt
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
Labels: api-surface-change, ready for review

#202 :fire: Remove git diff dependencies for unit tests
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/Dependency.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyLinker.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/GitModifiedPathsProvider.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitdiff/ModifiedPathsProvider.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/gitdiff/GitConditionalDependencyLinkerTest.kt
  dd-sdk-android-timber/src/test/kotlin/com/datadog/android/timber/DatadogTreeTest.kt
  dd-sdk-android-timber/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/ConditionalLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListener.kt
  dd-sdk-android/src/test/java/com/datadog/android/log/LoggerBuilderJavaTest.java
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/UploadStatusTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/CombinedLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/ConditionalLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
  dd-sdk-android/src/testDebug/java/com/datadog/android/log/internal/logger/LogcatLogHandlerJavaTest.java
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemErrorStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemOutStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtension.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtensionTest.kt
Labels: ready for review

#203 RUMM-306 Create Troublshooting document
  README.md
  docs/TROUBLESHOOTING.md
Labels: ready for review

#205 Fix GlobalRumTest
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
Labels: ready for review
