Repository DataDog/dd-sdk-android, pull requests merged in 2020-08, with the labels that each got.

#328 RUMM-639 clear data
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
Labels: api-surface-change

#333 RUMM-652 Refactor interceptors
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/CombinedInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/RequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/CombinedInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptorTest.kt
Labels: api-surface-change

#336 RUMM-625 Handle Redirection with Tracing
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  docs/trace_collection.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/server/LocalServer.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebViewModel.kt
  sample/kotlin/src/main/res/layout/fragment_traces.xml
  sample/kotlin/src/main/res/xml/network_security_config.xml
Labels: api-surface-change

#338 [documentation]
  docs/rum_collection.md
Labels: documentation, ready for review

#335 RUMM-589 sample RUM events
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumContext.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: api-surface-change

#339 RUMM-629 Provide widget manual instrumentation demo in sample app
  docs/rum_collection.md
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/widget/DatadogWidgetsProvider.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/widget/WidgetIntentService.kt
  sample/kotlin/src/main/res/drawable-nodpi/example_appwidget_preview.png
  sample/kotlin/src/main/res/layout/datadog_widget.xml
  sample/kotlin/src/main/res/values/strings.xml
  sample/kotlin/src/main/res/xml/datadog_widget_info.xml
Labels: ready for review

#348 RUMM-658 Add compatibility with gov cloud
  .gitlab-ci.yml
  Dockerfile.gitlab
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android/apiSurface
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEndpoint.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  gradle.properties
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/server/LocalServer.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebViewModel.kt
Labels: api-surface-change

#351 RUMM-661 Send equivalent RUM event for Spans tagged with errors
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/data/TraceWriterTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/res/layout/fragment_traces.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-non-breaking-change, api-surface-change

#352 RUMM-676 Log error messages for inconistent states of the SDK
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
Labels: api-non-breaking-change, api-surface-change, ready for review

#353 RUMM-681 Update documentation
  README.md
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  docs/coil_integration.md
  docs/fresco_integration.md
  docs/glide_integration.md
  docs/log_collection.md
  docs/rum_collection.md
  docs/timber_integration.md
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
Labels: api-surface-change

#354 RUMM-548 Retrofit integration with Datadog
  buildSrc/src/main/kotlin/com/datadog/gradle/config/FlavorBuildConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/SampleAppConfig.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/ViewModelFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/DataRepository.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/RemoteDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/Result.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/model/Log.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/model/LogAttributes.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/model/LogsCollection.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/res/drawable/ic_baseline_refresh_24.xml
  sample/kotlin/src/main/res/layout/fragment_data_list.xml
  sample/kotlin/src/main/res/layout/item_layout.xml
Labels: api-surface-change
