Repository DataDog/dd-sdk-android, pull requests merged in 2020-09, with the labels that each got.

#355 RUMM-686 Provide an InputStream wrapper for RUM Resources
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ktx/apiSurface
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/rum/ContextExt.kt
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/rum/InputStreamExt.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/ResourceTiming.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/resource/RumResourceInputStream.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/resource/RumResourceInputStreamTest.kt
  sample/kotlin/src/main/assets/license.txt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/about/AboutFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/about/AboutViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/home/HomeFragment.kt
  sample/kotlin/src/main/res/drawable/ic_info_black_24.xml
  sample/kotlin/src/main/res/layout/fragment_about.xml
  sample/kotlin/src/main/res/layout/fragment_home.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/navigation/nav_graph.xml
  sample/kotlin/src/main/res/raw/about.txt
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-surface-change

#370 RUMM-650 Implement link between RUM Resources and APM spans
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitclone/GitCloneDependenciesExtension.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/clone_rum_schema.gradle.kts
  dd-sdk-android/src/main/json/_common-schema.json
  dd-sdk-android/src/main/json/action-schema.json
  dd-sdk-android/src/main/json/resource-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: api-surface-change

#369 RUMM-702 validate the env name at initialisation time
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
Labels: size-small

#366 RUMM-475 Provide integration with RxJava
  .gitlab-ci.yml
  .idea/codeStyles/Project.xml
  LICENSE-3rdparty.csv
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-coil/src/main/kotlin/com/datadog/android/coil/DatadogCoilRequestListener.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/DatadogCoilRequestListenerTest.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/utils/Configurator.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-fresco/src/main/kotlin/com/datadog/android/fresco/DatadogFrescoCacheListener.kt
  dd-sdk-android-rx/.gitignore
  dd-sdk-android-rx/README.md
  dd-sdk-android-rx/apiSurface
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/src/main/AndroidManifest.xml
  dd-sdk-android-rx/src/main/kotlin/com/datadog/android/rx/DatadogRumErrorConsumer.kt
  dd-sdk-android-rx/src/main/kotlin/com/datadog/android/rx/DatadogRxExt.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRumErrorConsumerTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRxExtTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/Configurator.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-rx/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/DataRepository.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/RemoteDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/logs/LogsFragment.kt
  settings.gradle.kts
Labels: api-surface-change, size-small

#373 Fix flaky test and improve coverage
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: size-small

#375 RUMM-724 Add message when no RUM view is active
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
Labels: size-small

#374 RUMM-557 Add SQLite integration module
  Database.db
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sqlite/DatadogDatabaseErrorHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sqlite/DatadogDatabaseErrorHandlerTest.kt
  docs/rum_collection.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/ViewModelFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/DataRepository.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/remote/RemoteDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
  sample/kotlin/src/sqlite/AndroidManifest.xml
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/contentprovider/DatadogContentProvider.kt
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/db/DatadogDbContract.kt
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/db/DatadogSqliteHelper.kt
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/db/LocalDataSource.kt
Labels: api-surface-change, size-small

#376 RUMM-556 Add Room use case in the sample app
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/DatadogDbContract.kt
  sample/kotlin/src/room/kotlin/com/datadog/android/sample/data/db/LocalDataSource.kt
  sample/kotlin/src/room/kotlin/com/datadog/android/sample/data/db/LogDao.kt
  sample/kotlin/src/room/kotlin/com/datadog/android/sample/data/db/LogRoom.kt
  sample/kotlin/src/room/kotlin/com/datadog/android/sample/data/db/LogsDatabase.kt
Labels: size-small

#379 :bug: (RUMM-729): Fix crash in FileReader
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
Labels: api-surface-change, size-small

#381 RUMM-594 Provide integration with SQLDelight
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ktx/apiSurface
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/CloseableExtTest.kt
  dd-sdk-android-sqldelight/.gitignore
  dd-sdk-android-sqldelight/README.md
  dd-sdk-android-sqldelight/apiSurface
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/src/main/AndroidManifest.xml
  dd-sdk-android-sqldelight/src/main/kotlin/com/datadog/android/sqldelight/DatadogSqliteCallback.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/DatadogSqliteCallbackTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/Configurator.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/utils/ThrowableForgeryFactory.kt
  dd-sdk-android-sqldelight/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  docs/rum_collection.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/room/kotlin/com/datadog/android/sample/data/db/LogDao.kt
  sample/kotlin/src/sqldelight/kotlin/com/datadog/android/sample/data/db/Database.kt
  sample/kotlin/src/sqldelight/kotlin/com/datadog/android/sample/data/db/LocalDataSource.kt
  sample/kotlin/src/sqldelight/sqldelight/com.datadog.android.sample.data.db/Logs.sq
  settings.gradle.kts
Labels: api-surface-change, size-large

#383 RUMM-736 Add app version as tag into the Crash logs
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
Labels: size-huge

#380 RUMM-569 Kotlin coroutines / Flow extension
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-coil/README.md
  dd-sdk-android-fresco/README.md
  dd-sdk-android-glide/README.md
  dd-sdk-android-ktx/README.md
  dd-sdk-android-ktx/apiSurface
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/coroutine/CoroutineExt.kt
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/coroutine/CoroutineScopeSpan.kt
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/coroutine/CoroutineScopeSpanImpl.kt
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/coroutine/FlowExt.kt
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/tracing/SpanExt.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/coroutine/CoroutineExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/coroutine/FlowExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/SpanExtTest.kt
  dd-sdk-android-rx/README.md
  dd-sdk-android-timber/README.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/res/layout/fragment_traces.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-surface-change, size-huge

#386 RUMM-741 Provide SQLiteDatabase#transactionTraced extension function
  dd-sdk-android-ktx/README.md
  dd-sdk-android-ktx/apiSurface
  dd-sdk-android-ktx/src/main/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExt.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/CloseableExtTest.kt
  sample/kotlin/src/sqlite/kotlin/com/datadog/android/sample/data/contentprovider/DatadogContentProvider.kt
Labels: api-surface-change, size-medium

#385 RUMM-721 First party resources
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-glide/src/test/kotlin/com/datadog/android/glide/DatadogRUMUncaughtThrowableStrategyTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/SpanExtTest.kt
  dd-sdk-android-timber/src/test/kotlin/com/datadog/android/timber/DatadogTreeTest.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/resource-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/FirstPartyHostDetector.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/FirstPartyHostDetectorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/RequestUniqueIdentifierTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebChromeClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebViewClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandlerTest.kt
  dd-sdk-android/src/testDebug/java/com/datadog/android/log/internal/logger/LogcatLogHandlerJavaTest.java
Labels: api-surface-change, size-large

#387 RUMM-751: Add coverage with codecov
  .codecov.yml
  .gitlab-ci.yml
  build.gradle.kts
Labels: size-small
