Repository DataDog/dd-sdk-android, pull requests merged in 2020-04, with the labels that each got.

#208 RUMM-352 remove class name tag in devLogger
  dd-sdk-android-timber/src/test/kotlin/com/datadog/android/timber/DatadogTreeTest.kt
  dd-sdk-android-timber/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/ConditionalLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/test/java/com/datadog/android/log/LoggerBuilderJavaTest.java
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/UploadStatusTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/constraints/DatadogLogConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/CombinedLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/ConditionalLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/DatadogExt.kt
  dd-sdk-android/src/testDebug/java/com/datadog/android/log/internal/logger/LogcatLogHandlerJavaTest.java
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemErrorStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/SystemOutStream.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtension.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/SystemStreamExtensionTest.kt
Labels: ready for review

#209 RUMM-321 Duplicate Crash as Rum Error
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
Labels: ready for review

#210 RUMM-328 duplicate log error as rum error
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
Labels: ready for review

#212 RUMM-349 interceptors
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/CombinedInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/RequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/CombinedInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracingRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/FeatureConfigForgeryFactory.kt
Labels: api-surface-change, ready for review

#214 RUMM-353 Introduce the JetpackViewAttributesProvider
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-androidx/apiSurface
  dd-sdk-android-androidx/build.gradle.kts
  dd-sdk-android-androidx/src/main/kotlin/com/datadog/android/androidx/fragment/FragmentViewTrackingStrategy.kt
  dd-sdk-android-androidx/src/main/kotlin/com/datadog/android/androidx/tracking/JetpackViewAttributesProvider.kt
  dd-sdk-android-androidx/src/test/kotlin/com/datadog/android/androidx/tracking/JetpackViewAttributesProviderTest.kt
  dd-sdk-android-navigation/apiSurface
  dd-sdk-android-navigation/src/main/kotlin/com/datadog/android/androidx/navigation/NavigationViewTrackingStrategy.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/GesturesTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/TrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/UserActionTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ViewAttributesProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebChromeClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebViewClient.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityLifecycleTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebChromeClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumWebViewClientTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumConfigAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTrackerTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumMockServerActivityTestRule.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumActivityTrackingPlaygroundActivity.kt
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/MainActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/src/main/res/drawable/ic_format_list_numbered_black_24dp.xml
  sample/kotlin/src/main/res/layout/fragment_data_list.xml
  sample/kotlin/src/main/res/layout/item_layout.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/navigation/nav_graph.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: api-surface-change

#213 RUMM-358 open tracing fields
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ThrowableExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ThrowableExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/file/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandlerTest.kt
  instrumented/benchmark/gradle.properties
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/EndToEndTraceTest.kt
Labels: ready for review

#216 RUMM-350 Detect Scroll and Swipe as RUM action events
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTracker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesDetectorWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/AbstractGesturesListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/DatadogGesturesTrackerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesDetectorWrapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerTapTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/MotionEventForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
Labels: ready for review

#218 RUMM-388 NavigationViewTrackingStrategy - fix start/stop view behaviour
  dd-sdk-android-navigation/src/main/kotlin/com/datadog/android/androidx/navigation/NavigationViewTrackingStrategy.kt
  dd-sdk-android-navigation/src/test/kotlin/com/datadog/android/androidx/navigation/NavigationViewTrackingStrategyTest.kt
Labels: ready for review

#219 RUMM-378 resources reported on the incorrect view
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: ready for review

#220 RUMM-382 Detect correct tap target when ViewGroup and child are both clickable
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerTapTest.kt
Labels: ready for review

#223 RUMM-365 Detect ViewTree changes
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/NoOpActionTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/NoOpViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewTreeChangeTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/TrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataActionAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListViewModel.kt
  sample/kotlin/src/main/res/drawable/ic_add_24dp.xml
  sample/kotlin/src/main/res/layout/fragment_data_list.xml
  sample/kotlin/src/main/res/layout/item_layout.xml
Labels: api-surface-change, ready for review

#217 Troubleshooting
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/java/datadog/trace/api/CorrelationIdentifier.java
  dd-sdk-android/src/main/java/datadog/trace/api/GlobalTracer.java
  docs/TROUBLESHOOTING.md
Labels: ready for review

#229 RUMM-363 Update View tracking end to end tests
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumActivityTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumFragmentTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumMockServerActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/BundleExtensions.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/IntentExtensions.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumFragmentTrackingPlaygroundActivity.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/assertj/JsonObjectAssert.kt
Labels: ready for review

#230 Propagate the Menu selection event to the wrapped Window.Callback
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
Labels: ready for review

#233 RUMM-362 Assert Swipe events in the EndToEndRumGesturesTrackingTests
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumGesturesTrackingActivityTestRule.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumGesturesTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/res/layout/gestures_tracking_layout.xml
  instrumented/integration/src/main/res/layout/item_layout.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/datalist/DataListFragment.kt
Labels: api-surface-change, ready for review

#232 Incremental kapt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessor.kt
  tools/noopfactory/src/main/resources/META-INF/gradle/incremental.annotation.processors
Labels: ready for review

#235 RUMM-379 Ability to whitelist a fragment/activity in the view tracking strategies
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ComponentPredicateExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/AndroidXFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/AcceptAllActivities.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/AcceptAllDefaultFragment.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/AcceptAllSupportFragments.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ComponentPredicate.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/AndroidXFragmentLifecycleCallbacksTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacksTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/ComponentPredicateTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: api-surface-change, ready for review

#236 RUMM-416 FileReader - fix the concurrency issue
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/FileReader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/file/FileReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
Labels: ready for review

#237 RUMM-399 refactor
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventData.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataActionAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataErrorAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataResourceAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataViewAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventDataViewMeasuresAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventDataTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorInternalMethodsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataErrorForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataResourceForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataUserActionForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataViewForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventDataViewMeasureForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumActivityTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumGesturesTrackingActivityTestRule.kt
Labels: api-surface-change

#240 RUMM-413 Make envrionment property mandatory for initialisation
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  instrumented/benchmark/gradle.properties
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/core/CoreInitBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/trace/TraceApiBenchmark.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/RumGesturesTrackingActivityTestRule.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/log/ActivityLifecycleLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumActivityTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumFragmentTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/trace/ActivityLifecycleTrace.kt
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/kotlin-timber/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: api-surface-change

#241 RUMM-407 Use app package name as default service name value
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumConfigAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/FeatureConfigForgeryFactory.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/EndToEndLogTest.kt
Labels: api-surface-change

#243 RUMM-364 Discard actions without resource or ViewTree changes
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewTreeChangeTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/EndToEndRumGesturesTrackingTests.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/RumGesturesTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/res/layout/gestures_tracking_layout.xml
Labels: ready for review

#246 Fix application Id
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
Labels: ready for review
