Repository DataDog/dd-sdk-android, pull requests merged in 2021-01, with the labels that each got.

#456 Fix the link to timber
  README.md
Labels: size-tiny

#453 RUMM-825 allow configuration of Batch Window Duration
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/BatchSize.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Credentials.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashLogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashLogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ConfigurationRumAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCoreForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCrashReportForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationFeatureForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationLogForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationRumForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationTracingForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/CredentialsForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/FilePersistenceConfigForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-huge

#458 RUMM-948 Reinforce first party host rules and add exception
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
Labels: size-small

#454 RUMM-826 Allow configuration of upload frequency
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/UploadFrequency.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadScheduler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadSchedulerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCoreForgeryFactory.kt
Labels: size-small

#457 Make generated names user friendly
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/ApiSurfacePlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/example/forgery/ConflictForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
Labels: size-small, size-tiny

#460 RUMM-909/gradle plugin proguard
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/PublishingConfig.kt
  dd-android-gradle-plugin/build.gradle.kts
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdAndroidGradlePlugin.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdExtension.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdMappingFileUploadTask.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/DdAppIdentifier.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/DdConfiguration.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/OkHttpUploader.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/Uploader.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/ConfigurationForgeryFactory.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/Configurator.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/DdMappingFileUploadTaskTest.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/IdentifierForgeryFactory.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/RecordedRequestAssert.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/internal/OkHttpUploaderTest.kt
  settings.gradle.kts
Labels: size-large, size-medium

#463 RUMM-909 Prevent coupling between assemble and publishMapping tasks
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdAndroidGradlePlugin.kt
Labels: size-tiny

#466 RUMM-943 Update the docs following the new API for SDK initialisation
  docs/README.md
  docs/log_collection.md
  docs/native_crash_collection.md
  docs/rum_collection.md
  docs/trace_collection.md
Labels: size-small

#469 RUMM-980 Fix integration tests
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewLoadingTimer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/ViewLoadingTimerTest.kt
  instrumented/integration/proguard-rules.pro
  instrumented/integration/src/androidTest/AndroidManifest.xml
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/log/ActivityLifecycleLogs.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/ActivityTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/FragmentTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/GesturesTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/trace/ActivityLifecycleTrace.kt
Labels: size-small

#461 RUMM-890 Persist the serialised CrashLog on NDK crash
  dd-sdk-android-ndk/src/androidTest/kotlin/com/datadog/android/ndk/NdkTests.kt
  dd-sdk-android-ndk/src/main/cpp/CMakeLists.txt
  dd-sdk-android-ndk/src/main/cpp/datadog-native-lib.cpp
  dd-sdk-android-ndk/src/main/cpp/datadog-native-lib.h
  dd-sdk-android-ndk/src/main/cpp/model/crash-log.cpp
  dd-sdk-android-ndk/src/main/cpp/model/crash-log.h
  dd-sdk-android-ndk/src/main/cpp/utils/backtrace-handler.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/backtrace-handler.h
  dd-sdk-android-ndk/src/main/cpp/utils/datetime-utils.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/datetime-utils.h
  dd-sdk-android-ndk/src/main/cpp/utils/file-utils.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/file-utils.h
  dd-sdk-android-ndk/src/main/cpp/utils/format-utils.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
  dd-sdk-android-ndk/src/main/cpp/utils/string-utils.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/string-utils.h
  dd-sdk-android-ndk/src/main/kotlin/com/datadog/android/ndk/NdkCrashReportsPlugin.kt
  dd-sdk-android-ndk/src/test/cpp/CMakeLists.txt
  dd-sdk-android-ndk/src/test/cpp/integration-tests.cpp
  dd-sdk-android-ndk/src/test/cpp/test-crash-log.cpp
  dd-sdk-android-ndk/src/test/cpp/test-datetime-utils.cpp
  dd-sdk-android-ndk/src/test/cpp/test-format-utils.cpp
  dd-sdk-android-ndk/src/test/cpp/test-generate-backtrace.cpp
  dd-sdk-android-ndk/src/test/cpp/test-signal-monitor.cpp
  dd-sdk-android-ndk/src/test/cpp/test-utils.cpp
  dd-sdk-android-ndk/src/test/cpp/test-utils.h
  dd-sdk-android-ndk/src/test/cpp/test_generate_backtrace.cpp
  dd-sdk-android-ndk/src/test/cpp/utils/greatest/greatest.h
Labels: size-large

#465 RUMM-958 Persist the last RUM ViewEvent in the NDK crash reports folder
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/file/ImmediateFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/batching/DataProcessorFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/data/file/RumFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/assertj/PersistenceStrategyAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/batching/DataProcessorFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/data/file/RumFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/TracingFileStrategyTest.kt
Labels: size-large, size-medium

#471 Fix Ktlint configuration for generated code
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KtLintConfig.kt
Labels: size-tiny

#459 RUMM-943 Update the docs following the new API for SDK initialisation
  docs/README.md
  docs/log_collection.md
  docs/native_crash_collection.md
  docs/rum_collection.md
  docs/sdk_initialization.md
  docs/trace_collection.md
Labels: size-medium

#472 RUMM-969 Increment RUM ViewEvent error count and send ErrorEvent when NDK crash detected
  dd-sdk-android-ndk/src/main/cpp/datadog-native-lib.cpp
  dd-sdk-android-ndk/src/main/cpp/datadog-native-lib.h
  dd-sdk-android-ndk/src/main/cpp/utils/backtrace-handler.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
  dd-sdk-android-ndk/src/main/kotlin/com/datadog/android/ndk/NdkCrashReportsPlugin.kt
  dd-sdk-android-ndk/src/test/cpp/integration-tests.cpp
  dd-sdk-android-ndk/src/test/cpp/test-generate-backtrace.cpp
  dd-sdk-android-ndk/src/test/kotlin/NdkCrashReportsPluginTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/Deserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/data/file/RumFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFileStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkCrashLog.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/NdkCrashLogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/NdkCrashLogForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
Labels: size-large

#473 RUMM-1001 Handle types with additionalProperties in JsonSchema
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonPrimitiveType.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoExtensions.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoSerializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReaderTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGeneratorTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/example/forgery/CommentForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/forgery/ForgeryConfiguration.kt
  buildSrc/src/test/kotlin/com/example/forgery/UserMergedForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Article.kt
  buildSrc/src/test/kotlin/com/example/model/Book.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  buildSrc/src/test/kotlin/com/example/model/Customer.kt
  buildSrc/src/test/kotlin/com/example/model/DateTime.kt
  buildSrc/src/test/kotlin/com/example/model/Delivery.kt
  buildSrc/src/test/kotlin/com/example/model/Demo.kt
  buildSrc/src/test/kotlin/com/example/model/Foo.kt
  buildSrc/src/test/kotlin/com/example/model/Location.kt
  buildSrc/src/test/kotlin/com/example/model/Message.kt
  buildSrc/src/test/kotlin/com/example/model/Opus.kt
  buildSrc/src/test/kotlin/com/example/model/Order.kt
  buildSrc/src/test/kotlin/com/example/model/Person.kt
  buildSrc/src/test/kotlin/com/example/model/Product.kt
  buildSrc/src/test/kotlin/com/example/model/Shipping.kt
  buildSrc/src/test/kotlin/com/example/model/Style.kt
  buildSrc/src/test/kotlin/com/example/model/User.kt
  buildSrc/src/test/kotlin/com/example/model/UserMerged.kt
  buildSrc/src/test/kotlin/com/example/model/Version.kt
  buildSrc/src/test/kotlin/com/example/model/Video.kt
  buildSrc/src/test/resources/input/additional_props.json
  buildSrc/src/test/resources/input/enum_array.json
Labels: size-large

#475 RUMM-962 Send the 'error.type' attribute in the RUM ErrorEvent
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/error-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/data/TraceWriterTest.kt
Labels: size-medium

#474 RUMM-1001 Handle Custom Timings
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/_common-schema.json
  dd-sdk-android/src/main/json/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
Labels: size-medium

#476 RUMM-1007 Have the Log 'error.kind' attribute resolved from canonical class name
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
Labels: size-tiny

#480 RUMM-1021 Update the Gov Cloud endpoint URLS
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEndpoint.kt
Labels: size-tiny

#478 RUMM-953 Un-deprecate local known hosts
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
Labels: size-tiny

#479 RUMM-1014 Tracing - do not add RUM context if RumFeature is disabled
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
Labels: size-small

#477 RUMM-996 Send related RUM ErrorEvent when resource request fails
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
Labels: size-medium, size-small

#481 RUMM-1009 Extract plugin to its own repository
  .gitlab-ci.yml
  build.gradle.kts
  dd-android-gradle-plugin/build.gradle.kts
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdAndroidGradlePlugin.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdExtension.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/DdMappingFileUploadTask.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/DdAppIdentifier.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/DdConfiguration.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/OkHttpUploader.kt
  dd-android-gradle-plugin/src/main/kotlin/com/datadog/gradle/plugin/internal/Uploader.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/ConfigurationForgeryFactory.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/Configurator.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/DdMappingFileUploadTaskTest.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/IdentifierForgeryFactory.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/RecordedRequestAssert.kt
  dd-android-gradle-plugin/src/test/kotlin/com/datadog/gradle/plugin/internal/OkHttpUploaderTest.kt
  settings.gradle.kts
Labels: size-large
