Repository DataDog/dd-sdk-android, pull requests merged in 2021-09, with the labels that each got.

#692 Remove MaxPermSize Java VM option, because it has no effect starting from Java 8
  .gitlab-ci.yml
Labels: size-tiny

#690 RUMM-1580: Fix SDK initialization crash on KitKat for a minified build due to DexVerifier rejecting opcode
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/VitalFrameCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/ChoreographerExt.kt
Labels: size-tiny

#691 RUMM-1572: Handle null value in WindowCallbackWrapper#dispatchTouchEvent to prevent possible crash
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
Labels: size-tiny

#695 Create a PR to update dd-sdk-bridge when a new version is released
  .gitlab-ci.yml
  dogfood.py
Labels: size-tiny

#698 RUMM-1533 Add nightly test for RumMonitor.addTiming() method
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConstants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorBackgroundE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumUtils.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/ForgeExtensions.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
Labels: size-tiny

#700 RUMM-1532 add nightly tests for RUM Global Attributes
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/GlobalRumE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConstants.kt
Labels: size-medium

#699 RUMM-1529 Add remaining nightly tests for Logs feature
  build.gradle.kts
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/main/NotTestableApis.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConstants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/ForgeExtensions.kt
Labels: size-tiny

#696 RUMM-1488 Support US5 endpoints
  buildSrc/src/main/kotlin/com/datadog/gradle/config/FlavorBuildConfig.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEndpoint.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogSite.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogSiteTest.kt
  sample/README.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-small

#697 Add mobile vitals screen to sample
  sample/README.md
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/home/HomeFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/PiDigitComputerBBP.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/VitalsFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/VitalsViewModel.kt
  sample/kotlin/src/main/res/drawable/ic_vitals_black_24.xml
  sample/kotlin/src/main/res/layout/fragment_about.xml
  sample/kotlin/src/main/res/layout/fragment_crash.xml
  sample/kotlin/src/main/res/layout/fragment_data_list.xml
  sample/kotlin/src/main/res/layout/fragment_gdpr.xml
  sample/kotlin/src/main/res/layout/fragment_home.xml
  sample/kotlin/src/main/res/layout/fragment_logs.xml
  sample/kotlin/src/main/res/layout/fragment_picture.xml
  sample/kotlin/src/main/res/layout/fragment_traces.xml
  sample/kotlin/src/main/res/layout/fragment_user.xml
  sample/kotlin/src/main/res/layout/fragment_vitals.xml
  sample/kotlin/src/main/res/layout/fragment_web.xml
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/navigation/nav_graph.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: size-medium

#702 RUMM-1606 replace XHR by Native as default resource kind
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/resource-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumResourceKind.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumResourceKindTest.kt
Labels: size-tiny

#703 RUMM-1535 Add remaining nightly tests on AndroidTracer.Builder
  build.gradle.kts
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanConfigE2ETests.kt
Labels: size-tiny

#701 RUMM-1593 Remove SIGQUIT(ANR) signal handler from NDK plugin
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
  dd-sdk-android-ndk/src/test/cpp/test-signal-monitor.cpp
Labels: size-tiny

#705 RUMM-1534 Add nightly tests for the auto instrumentation layer
  build.gradle.kts
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/proguard-rules.pro
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumResourceTrackingE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumUserInteractionTrackingE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumViewTrackingE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/UserInteractionTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingFragmentActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingMixedFragmentActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingMixedNoFragmentActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingNavigationActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/fragments/ViewTrackingFragment.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/fragments/ViewTrackingMixedHomeFragment.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/fragments/ViewTrackingNavigationHomeFragment.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/utils/MeasureUtils.kt
  instrumented/nightly-tests/src/main/res/layout/tracking_strategy_activity.xml
  instrumented/nightly-tests/src/main/res/layout/tracking_strategy_fragment.xml
  instrumented/nightly-tests/src/main/res/layout/tracking_strategy_fragment_activity.xml
  instrumented/nightly-tests/src/main/res/layout/tracking_strategy_navigation.xml
  instrumented/nightly-tests/src/main/res/layout/user_interaction_tracking_strategy_activity.xml
  instrumented/nightly-tests/src/main/res/navigation/nav_graph.xml
  instrumented/nightly-tests/src/main/res/values/strings.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/home/HomeFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/PiDigitComputerBBP.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/VitalsFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/VitalsViewModel.kt
Labels: size-large

#704 RUMM-1621: Remove jcenter repo references
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/plugin/DatadogContext.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/plugin/DatadogPluginConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/plugin/Feature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumResourceKind.kt
  detekt.yml
  tools/detekt/src/main/kotlin/com/datadog/tools/detekt/rules/TodoWithoutTask.kt
Labels: size-small

#707 RUMM-1536 Add nightly tests for resource interceptors
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ndk/build.gradle.kts
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/proguard-rules.pro
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumResourceTrackingE2ETests.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomSpanAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingNetworkInterceptorActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ViewTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/fragments/ViewTrackingFragment.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/fragments/ViewTrackingMixedHomeFragment.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/server/LocalServer.kt
  instrumented/nightly-tests/src/main/res/xml/network_security_config.xml
  sample/kotlin/build.gradle.kts
Labels: size-medium

#710 Sync Detekt Gradle plugin version with lib version
  buildSrc/build.gradle.kts
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/TestTargetApi.kt
Labels: size-tiny

#708 RUMM-1354: Update AGP version to 4.2.1, build with JDK 11
  Dockerfile.gitlab
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android/transitiveDependencies
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: size-tiny

#712 Update License to be recognised by Github
  LICENSE
Labels: size-tiny

#713 RUMM-1654 Fix the crash in nightly tests for NetworkInterceptor
  instrumented/nightly-tests/proguard-rules.pro
Labels: size-tiny

#711 RUMM-1459 Drop RumEvent wrapper and use the Pokos in the RUM Serializer
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/RumEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedLongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/RumEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
Labels: size-huge

#714 RUMM-1666: Delete obsolete :instrumented:benchmark module
  CONTRIBUTING.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/BenchmarkJsonFileVisitor.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/BenchmarkStrategy.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkExtension.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/ReviewBenchmarkResultsTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/Benchmark.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkContext.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkMetrics.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkResult.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkTargetBuild.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/benchmark/model/BenchmarkTimeMetrics.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaExtension.kt
  instrumented/benchmark/benchmark-proguard-rules.pro
  instrumented/benchmark/build.gradle.kts
  instrumented/benchmark/gradle.properties
  instrumented/benchmark/src/androidTest/AndroidManifest.xml
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/Utils.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/core/CoreInitBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogIOBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumGesturesTrackerBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumManualApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/trace/TraceApiBenchmark.kt
  instrumented/benchmark/src/main/AndroidManifest.xml
  instrumented/benchmark/src/main/kotlin/com/datadog/android/sdk/benchmark/rum/RumTrackedActivity.kt
  instrumented/benchmark/src/main/res/layout/item_layout.xml
  instrumented/benchmark/src/main/res/layout/rum_activity_layout.xml
  instrumented/benchmark/src/main/res/values/strings.xml
  settings.gradle.kts
Labels: size-large

#717 RUMM-1682 Fix memory vital unit
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/MemoryVitalReader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/MemoryVitalReaderTest.kt
Labels: size-tiny

#715 RUMM-1669 Bundle RUM active action in Logs and Traces
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerBuilderE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanConfigE2ETests.kt
Labels: size-small

#716 RUMM-1680: Fix missing datadog-native-lib in the NDK artifact by downgrading CMake version
  Dockerfile.gitlab
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ndk/CMakeLists.txt
  instrumented/nightly-tests/src/main/cpp/CMakeLists.txt
  sample/kotlin/src/main/cpp/CMakeLists.txt
Labels: size-tiny

#718 RUMM-1677: Prevent native updateTrackingConsent call if libdatadog-native-lib is not loaded
  dd-sdk-android-ndk/src/main/kotlin/com/datadog/android/ndk/NdkCrashReportsPlugin.kt
Labels: size-tiny
