Repository DataDog/dd-sdk-android, pull requests merged in 2021-05, with the labels that each got.

#581 RUMM-1313: Support external resource timings
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/ExternalResourceTimings.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/ExternalResourceTimingsKtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/ResourceTimingExt.kt
Labels: size-medium

#582 RUMM-1335 Add basic test cases for Logger API
  build.gradle.kts
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/proguard-rules.pro
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/runner/DatadogTestsRunner.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/ForgeExtensions.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
Labels: size-medium

#583 RUMM-1298 PokoGenerator#toJson do not override the reserved properties
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoSerializerGenerator.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
Labels: size-small

#584 Add language check for diversity and inclusion
  .gitlab-ci.yml
  Dockerfile.gitlab
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategyTest.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/ConditionWatcherTest.kt
Labels: size-tiny

#587 DataUploader: add error stack trace information in error log
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
Labels: size-tiny

#589 RUMM-1345: Wait for the executors termination to remove flakiness from the tests
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
Labels: size-tiny

#593 RUMM-1347: Support building with Java 11
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/apisurface/KotlinFileVisitorTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelWithAdditionalAttributesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/privacy/TrackingConsentProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/user/UserInfoDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/user/UserInfoSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/ExternalResourceTimingsKtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/LogsTest.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/ConditionWatcherTest.kt
Labels: size-tiny

#597 RUMM-1321 Let all user info be in the usr root
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
Labels: size-tiny

#586 Add Nightly tests docs in the CONTRIBUTING page
  CONTRIBUTING.md
Labels: size-tiny

#596 Docs: Restructure tables in docs page for improved readability
  docs/configure_rum_android_sdk.md
Labels: size-tiny

#595 RUMM-1348 Add Datadog#flushStoredData method
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataFlusher.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/Flusher.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleFileOrchestrator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataFlusherTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/SingleFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
Labels: size-medium

#585 RUMM-1091: Update code samples in docs to make it up-to-date, fix formatting
  docs/README.md
  docs/advanced_troubleshooting.md
  docs/configure_rum_android_sdk.md
  docs/integrated_libraries_android.md
  docs/kotlin_extensions.md
  docs/log_collection.md
  docs/native_crash_collection.md
  docs/rum_getting_started.md
  docs/trace_collection.md
Labels: size-small

#591 RUMM-1344 Add GDPR tests for Logs feature
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/proguard-rules.pro
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/GdprLogsE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsConstants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsUtils.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rules/NightlyTestRule.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/runner/DatadogTestsRunner.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
Labels: size-medium

#599 RUMM-1271 Create VitalMonitor class
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/VitalMonitorTest.kt
Labels: size-medium

#603 RUM Resource - fix network timings reports feature
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogEventListenerTest.kt
Labels: size-tiny

#598 RUMM-1346 Add nightly tests for Logger.Builder and Datadog.initialize
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerBuilderE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
Labels: size-medium

#601 RUMM-1364 Logger#addAttribute, Logger#addTag test cases
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerE2ETests.kt
Labels: size-small

#602 Track mobile vitals
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/CPUVitalReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/MemoryVitalReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalObserver.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/vitals/VitalReaderRunnable.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/CPUVitalReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/MemoryVitalReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/vitals/VitalReaderRunnableTest.kt
Labels: size-medium

#600 RUMM-1361 Add nexus stagingRepositoryId
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/MavenConfig.kt
  instrumented/benchmark/build.gradle.kts
  tools/detekt/build.gradle.kts
Labels: size-tiny

#608 Fix for wrong time conversion API usage
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandler.kt
Labels: size-tiny

#606 RUMM-1372 RumViewScope - decrement pendingAction when Action was dropped
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
Labels: size-tiny

#605 RUMM-1367: Observability of Span related APIs
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/Constants.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanE2ETests.kt
Labels: size-small

#609 Fix a typo
  docs/mobile_data_collected.md
Labels: size-tiny

#607 Fixes on the LoggerBuilder nightly tests
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerBuilderE2ETests.kt
Labels: size-tiny

#611 RUMM-1381: Add performance monitoring for Span class related APIs
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanBuilderE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanE2ETests.kt
Labels: size-small

#610 RUMM-1263 Record RUM events while in background
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/service/LogsForegroundService.kt
  sample/kotlin/src/main/res/drawable/ic_baseline_error_24.xml
Labels: size-medium, size-small

#612 mild grammar updates in the android data collected table
  docs/mobile_data_collected.md
Labels: size-tiny

#616 RUMM-1388: Add GDPR related tests for the Trace feature
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/GdprSpanE2ETests.kt
Labels: size-small

#614 RUMM-1338: Keep instant custom actions even if there is active action ongoing
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: size-small
