Repository DataDog/dd-sdk-android, pull requests merged in 2021-10, with the labels that each got.

#719 RUMM-1665 Delete obsolete java sample
  build.gradle.kts
  sample/java/.gitignore
  sample/java/build.gradle
  sample/java/src/main/AndroidManifest.xml
  sample/java/src/main/java/com/datadog/android/sample/BaseFragment.java
  sample/java/src/main/java/com/datadog/android/sample/MainActivity.java
  sample/java/src/main/java/com/datadog/android/sample/SampleApplication.java
  sample/java/src/main/java/com/datadog/android/sample/dialog/SampleDialogFragment.java
  sample/java/src/main/java/com/datadog/android/sample/logs/LogsFragment.java
  sample/java/src/main/java/com/datadog/android/sample/logs/LogsViewModel.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesFragment.java
  sample/java/src/main/java/com/datadog/android/sample/traces/TracesViewModel.java
  sample/java/src/main/java/com/datadog/android/sample/user/UserFragment.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebFragment.java
  sample/java/src/main/java/com/datadog/android/sample/webview/WebViewModel.java
  sample/java/src/main/res/drawable/ic_account_circle_black_24dp.xml
  sample/java/src/main/res/drawable/ic_cancel_red_24dp.xml
  sample/java/src/main/res/drawable/ic_chat_bubble_black_24dp.xml
  sample/java/src/main/res/drawable/ic_check_circle_green_24dp.xml
  sample/java/src/main/res/drawable/ic_error_red_24dp.xml
  sample/java/src/main/res/drawable/ic_launcher_background.xml
  sample/java/src/main/res/drawable/ic_logs_black_24dp.xml
  sample/java/src/main/res/drawable/ic_timeline_black_24dp.xml
  sample/java/src/main/res/drawable/ic_unknown_black_24dp.xml
  sample/java/src/main/res/drawable/ic_unknown_grey_24dp.xml
  sample/java/src/main/res/drawable/ic_webview_black_24dp.xml
  sample/java/src/main/res/layout/activity_main.xml
  sample/java/src/main/res/layout/fragment_logs.xml
  sample/java/src/main/res/layout/fragment_traces.xml
  sample/java/src/main/res/layout/fragment_user.xml
  sample/java/src/main/res/layout/fragment_web.xml
  sample/java/src/main/res/menu/navigation.xml
  sample/java/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  sample/java/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  sample/java/src/main/res/mipmap-hdpi/ic_launcher.png
  sample/java/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  sample/java/src/main/res/mipmap-hdpi/ic_launcher_round.png
  sample/java/src/main/res/mipmap-mdpi/ic_launcher.png
  sample/java/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  sample/java/src/main/res/mipmap-mdpi/ic_launcher_round.png
  sample/java/src/main/res/mipmap-xhdpi/ic_launcher.png
  sample/java/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  sample/java/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  sample/java/src/main/res/mipmap-xxhdpi/ic_launcher.png
  sample/java/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  sample/java/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  sample/java/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  sample/java/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  sample/java/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  sample/java/src/main/res/values-v21/themes.xml
  sample/java/src/main/res/values/colors.xml
  sample/java/src/main/res/values/dimens.xml
  sample/java/src/main/res/values/strings.xml
  sample/java/src/main/res/values/themes.xml
  sample/kotlin/build.gradle.kts
  settings.gradle.kts
Labels: size-large

#720 RUMM-1683 Add internal logs for serialization errors
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/Serializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkNetworkInfoDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkUserInfoDataWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
Labels: size-small

#721 RUMM-1652 Fix the problem with the signal stack memory in NDK handler
  dd-sdk-android-ndk/src/main/cpp/utils/backtrace-handler.h
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
Labels: size-tiny

#723 RUMM-1686 Fix nightly tests for resource tracking
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumResourceTrackingE2ETests.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomSpanAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingFirstPartyHostsActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingNetworkInterceptorActivity.kt
Labels: size-tiny

#726 eh_updating troubleshooting_android.md
  docs/troubleshooting_android.md
Labels: size-tiny

#728 RUMM-1711 Enrich RUM error with throwable message
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-small
