Repository DataDog/dd-sdk-android, pull requests merged in 2021-04, with the labels that each got.

#553 Update log_collection.md
  docs/log_collection.md
Labels: documentation, size-tiny

#555 RUMM-1244 Cleanup internal logs
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/UploadStatus.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/LoggingSyncListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/UploadStatusTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/net/LogsOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderTest.kt
Labels: size-medium, size-small

#554 Use the new SpanEvent in the traces pipeline
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/core/network_info.json
  dd-sdk-android/src/main/json/trace/span-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/event/SpanEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/NetworkInfoAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/assertj/SpanEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/NetworkInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/SpanEventForgeryFactory.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessor.kt
  tools/noopfactory/src/test/resources/gen/NoOpAnyGenericInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpGenericInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpInheritedInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpSimpleInterface.kt
  tools/noopfactory/src/test/resources/src/AnyGenericInterface.kt
Labels: size-medium, size-tiny

#558 RUMM-1146: Data Scrubbing for Long Tasks
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/BigIntegerExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
Labels: size-medium

#556 RUMM-1242 Add public api for spans data scrubbing
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracesFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationTracingForgeryFactory.kt
  docs/trace_collection.md
Labels: size-small

#557 RUMM-1245 Remove the deprecated SpanSerializer
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
Labels: size-medium

#560 RUMM-1281 Generate the LogEvent from the json schema
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KtLintConfig.kt
  dd-sdk-android/.gitignore
  dd-sdk-android/apiSurface
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/generate_log_models.gradle.kts
  dd-sdk-android/src/main/json/log/log-schema.json
Labels: size-small

#565 Vendor the codecov upload script
  .gitlab-ci.yml
  codecov.sh
Labels: size-large

#562 RUMM-1289 Replace the `Log` by new `LogEvent` class
  .idea/codeStyles/Project.xml
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/Log.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/IntExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/extension/LongExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogForgeryFactory.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/LogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/TracesTest.kt
Labels: size-large

#563 RUMM-1303 Add public api for logs data scrubbing
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/event/LogEventMapperWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/event/LogEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/event/LogEventMapperWrapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/event/LogEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracesFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationLogForgeryFactory.kt
  docs/log_collection.md
  docs/trace_collection.md
Labels: size-medium

#567 RUMM-1317 Remove deprecated Log and LogSerializer classes
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/Log.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogForgeryFactory.kt
Labels: size-medium

#482 [WIP] simplified the setup page and fixed broken links
  docs/Migrating_To_1.0.0.md
  docs/advanced_troubleshooting.md
  docs/configure_rum_android_sdk.md
  docs/gdpr.md
  docs/integrated_libraries_android.md
  docs/mobile_data_collected.md
  docs/rum_collection.md
  docs/rum_getting_started.md
  docs/sdk_initialization.md
  docs/troubleshooting_android.md
Labels: editorial review, size-large, size-small

#568 Cleanup doc
  dd-sdk-android-coil/README.md
  dd-sdk-android-fresco/README.md
  dd-sdk-android-glide/README.md
  dd-sdk-android-ktx/README.md
  dd-sdk-android-rx/README.md
  dd-sdk-android-sqldelight/README.md
  dd-sdk-android-timber/README.md
  dd-sdk-android/README.md
  docs/README.md
  docs/kotlin_extensions.md
  docs/log_collection.md
  docs/mobile_data_collected.md
  docs/native_crash_collection.md
  docs/rum_getting_started.md
  docs/trace_collection.md
Labels: size-tiny

#571 InternalLogger: use application.version as package name key
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeature.kt
Labels: size-tiny

#570 reviewed docs to fix broken table, images and links
  docs/configure_rum_android_sdk.md
  docs/images/create_rum_application.png
  docs/mobile_data_collected.md
  docs/rum_getting_started.md
  docs/troubleshooting_android.md
Labels: size-small

#572 docs_review_2
  docs/configure_rum_android_sdk.md
  docs/integrated_libraries_android.md
  docs/mobile_data_collected.md
  docs/rum_getting_started.md
  docs/troubleshooting_android.md
Labels: size-small

#573 DataOkHttpUploader: add Executor active threads info to the error log
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
Labels: size-tiny

#574 InternalLogger: enable the network information
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
Labels: size-tiny

#576 Update mobile app SDK dependency source path
  dogfood.py
Labels: size-tiny

#577 RUMM-1316 Make all methods in Datadog JvmStatic
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
Labels: size-small

#578 RUMM-1325 cleanup crash message
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
Labels: size-tiny

#580 RUMM-1293 Fix flaky tests
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/resource/RumResourceInputStreamTest.kt
Labels: size-small

#579 RUMM-1143 Setup the nightly-tests module
  build.gradle.kts
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/src/androidTest/AndroidManifest.xml
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/ForgeExtensions.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/res/values/strings.xml
  settings.gradle.kts
Labels: size-small

#559 Skip artifact signing for local publishing
  buildSrc/src/main/kotlin/com/datadog/gradle/config/MavenConfig.kt
Labels: size-tiny
