Repository DataDog/dd-sdk-android, pull requests merged in 2021-03, with the labels that each got.

#509 RUMM-1080 validate event count
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/data/file/RumFileWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/EventType.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/data/file/RumFileWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/res/layout/activity_nav.xml
Labels: size-large

#514 Lint headings for Log collection
  docs/log_collection.md
Labels: documentation, size-tiny

#515 RUMM-1151 Use the Local first-party host detector
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/FirstPartyHostDetector.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
Labels: size-small

#516 RUMM-1068: Keep line and filename information in the user builds to make Error Tracking feature work reliably
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/consumer-rules.pro
Labels: size-tiny

#517 Add newline after no-op classes generation messages
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessor.kt
Labels: size-tiny

#519 RUMM-1114 document core models
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/clone_rum_schema.gradle.kts
  dd-sdk-android/generate_core_models.gradle.kts
  dd-sdk-android/generate_pokos.gradle.kts
  dd-sdk-android/generate_rum_models.gradle.kts
  dd-sdk-android/src/main/core-internal-schemas/user_info.json
  dd-sdk-android/src/main/json/core/network_info.json
  dd-sdk-android/src/main/json/core/user_info.json
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/json/rum/action-schema.json
  dd-sdk-android/src/main/json/rum/error-schema.json
  dd-sdk-android/src/main/json/rum/long_task-schema.json
  dd-sdk-android/src/main/json/rum/resource-schema.json
  dd-sdk-android/src/main/json/rum/view-schema.json
Labels: size-large

#520 RUMM-1153: Possibility to attach custom attributes to automatically collected RUM Resource events
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumResourceAttributesProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebViewClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ExpectedEvents.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ResourceTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/RumTestUtils.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/ForgeExtensions.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessor.kt
  tools/noopfactory/src/test/resources/gen/NoOpGenericInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpSimpleInterface.kt
  tools/noopfactory/src/test/resources/src/GenericInterface.kt
  tools/noopfactory/src/test/resources/src/SimpleInterface.kt
Labels: size-medium

#523 RUMM-1166: Add exception message to RUM and Logs crash messages
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
Labels: size-small, size-tiny

#526 RUMM-1174 Fix the integration tests
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/CPUProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/MemoryProfileForLogs.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/AbstractProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/GesturesTrackingActivityTestRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/utils/ExtraIntentExtensions.kt
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/ActivityProfiling.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/RuntimeConfig.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/ActivityTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/FragmentTrackingPlaygroundActivity.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/rum/GesturesTrackingPlaygroundActivity.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ObjectTest.kt
Labels: size-medium

#525 RUMM-1168 Make sure we specify the Locale for 'String.format'
  dd-sdk-android-sqldelight/src/main/kotlin/com/datadog/android/sqldelight/DatadogSqliteCallback.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/DatadogSqliteCallbackTest.kt
  dd-sdk-android/src/main/java/com/datadog/trace/api/Config.java
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/NetworkInfoDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/user/UserInfoDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventDeserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sqlite/DatadogDatabaseErrorHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogConfigBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sqlite/DatadogDatabaseErrorHandlerTest.kt
Labels: size-small

#532 RUMM-1181: Use Kotlin 1.4.20, get rid of language level warnings in the classpath
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-coil/transitiveDependencies
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-fresco/transitiveDependencies
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-glide/transitiveDependencies
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/transitiveDependencies
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/transitiveDependencies
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/transitiveDependencies
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/transitiveDependencies
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-timber/transitiveDependencies
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/transitiveDependencies
  instrumented/benchmark/build.gradle.kts
  instrumented/integration/build.gradle.kts
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/server/LocalServer.kt
  tools/noopfactory/build.gradle.kts
  tools/unit/build.gradle.kts
Labels: size-small

#535 RUMM-1180: Keep message for logs when it comes with error fields in OpenTracing format
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/handlers/AndroidSpanLogsHandlerTest.kt
Labels: size-tiny

#537 RUMM-1167: Use conditional watcher instead of Thread.sleep in instrumentation tests
  buildSrc/src/main/kotlin/com/datadog/gradle/Properties.kt
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/src/androidTest/kotlin/com/datadog/android/ndk/NdkTests.kt
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/ConsentGrantedLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/ConsentPendingGrantedLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/ConsentPendingNotGrantedLogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/log/LogsTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedActivityTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedFragmentTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ConsentPendingNotGrantedGesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/ResourceTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/ConsentGrantedTracesTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/ConsentPendingGrantedTracesTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/ConsentPendingNotGrantedTracesTest.kt
  settings.gradle.kts
  tools/javabackport/.gitignore
  tools/javabackport/build.gradle.kts
  tools/javabackport/src/main/kotlin/java/util/concurrent/CompletableFuture.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ConditionWatcher.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/ConditionWatcherTest.kt
Labels: size-medium

#539 Update API surface for Glide integration
  dd-sdk-android-glide/apiSurface
Labels: size-tiny

#540 RUMM-1196 Fix all warnings in NoOpFactory generator
  detekt.yml
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessor.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/TypeExt.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/TypeMirrorToKotlinTypeNameVisitor.kt
  tools/noopfactory/src/test/kotlin/com/datadog/tools/noopfactory/NoOpFactoryAnnotationProcessorTest.kt
  tools/noopfactory/src/test/resources/gen/NoOpAnyGenericInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpGenericInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpInheritedInterface.kt
  tools/noopfactory/src/test/resources/gen/NoOpSimpleInterface.kt
  tools/noopfactory/src/test/resources/src/AnyGenericInterface.kt
Labels: size-small

#541 RUMM-1198 Evaluate warnings as errors in all the modules
  Database.db
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KotlinConfig.kt
  dd-sdk-android-coil/src/test/kotlin/com/datadog/android/coil/DatadogCoilRequestListenerTest.kt
  dd-sdk-android-fresco/src/test/kotlin/com/datadog/android/fresco/DatadogFrescoCacheListenerTest.kt
  dd-sdk-android-glide/src/test/kotlin/com/datadog/android/glide/DatadogGlideModuleTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/coroutine/FlowExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/sqlite/SqliteDatabaseExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/CloseableExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/OkHttpRequestExtTest.kt
  dd-sdk-android-ktx/src/test/kotlin/com/datadog/android/ktx/tracing/SpanExtTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRumErrorConsumerTest.kt
  dd-sdk-android-rx/src/test/kotlin/com/datadog/android/rx/DatadogRxExtTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/DatadogSqliteCallbackTest.kt
  dd-sdk-android-sqldelight/src/test/kotlin/com/datadog/android/sqldelight/SqlDelightExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/domain/FilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/core/CoreInitBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/log/LogIOBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumGesturesTrackerBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/rum/RumManualApiBenchmark.kt
  instrumented/benchmark/src/androidTest/kotlin/com/datadog/android/sdk/benchmark/trace/TraceApiBenchmark.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/rum/GesturesTrackingTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/trace/TracesTest.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/AbstractProfilingRule.kt
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/cpp/datadog-native-sample-lib.cpp
  tools/detekt/build.gradle.kts
  tools/detekt/src/test/kotlin/com/datadog/tools/detekt/rules/UnsafeCallOnNullableTypeTest.kt
Labels: size-medium, size-small

#542 RUMM-1133 Rewrite the Persistence Layer
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/FilePersistenceConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/domain/PayloadDecoration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/Batch.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/DataReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/DataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/Deserializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/Serializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/DataMigrationOperation.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/DataMigrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/MoveDataMigrationOperation.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/WipeDataMigrationOperation.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileMigratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/ConsentAwareFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/MoveDataMigrationOperationTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/WipeDataMigrationOperationTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/PayloadDecorationForgeryFactory.kt
Labels: size-huge

#544 RUMM-1170 Continuous trace support when using RxJava and Retrofit
  dd-sdk-android/src/main/java/com/datadog/opentracing/DDSpan.java
  dd-sdk-android/src/main/java/com/datadog/opentracing/PendingTrace.java
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  docs/trace_collection.md
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/DataRepository.kt
Labels: size-small

#518 RUMM-1081 (1/2) Generate GPG signing key in CI
  .gitlab-ci.yml
Labels: size-tiny

#548 RUMM-1215 Return key value when resolving view url for type String
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ViewUtils.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ViewUtilsTest.kt
Labels: size-tiny

#549 RUMM-1212: Add additional free-form configuration to the Datadog configuration
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
Labels: size-tiny

#550 RUMM-1223: Fix some flaky tests related to the map merging order when maps have common keys
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
Labels: size-small

#551 RUMM-1039: Add a possibility to specify custom Source tag for Spans, Logs and RUM events
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/net/LogsOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/SpanSerializerTest.kt
Labels: size-small
