Repository DataDog/dd-sdk-android, pull requests merged in 2021-11, with the labels that each got.

#738 RUMM-1612: Integration with Navigation for Compose
  LICENSE-3rdparty.csv
  dd-sdk-android-compose/README.md
  dd-sdk-android-compose/apiSurface
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-compose/src/main/java/com/datadog/android/compose/Placeholder.kt
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/Navigation.kt
  dd-sdk-android-compose/src/test/kotlin/com/datadog/android/compose/ComposeNavigationObserverTest.kt
  dd-sdk-android-compose/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  dd-sdk-android-compose/transitiveDependencies
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/MixedViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacksTest.kt
  gradle/libs.versions.toml
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleNavigationPredicate.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/ComposeFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/home/HomeFragment.kt
  sample/kotlin/src/main/res/drawable/ic_compose_android_24dp.xml
  sample/kotlin/src/main/res/layout/activity_main.xml
  sample/kotlin/src/main/res/layout/fragment_home.xml
  sample/kotlin/src/main/res/navigation/nav_graph.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: size-large

#735 RUMM-1722 Introduce the Configuration#setWebViewTrackingHosts Public API
  build.gradle.kts
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/HostsSanitizer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/HostsSanitizerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCoreForgeryFactory.kt
Labels: size-medium

#744 RUMM-1754: Use API v2 for Crash Reports feature
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
Labels: size-tiny

#745 RUMM-1753: Apply custom source tag for the API v2 uploaders setup
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
Labels: size-tiny

#739 RUMM-1748: Update dogfood script to target Gradle version catalogs
  .gitlab-ci.yml
  dogfood.py
Labels: size-tiny

#746 Merge release/1.11.0 into master
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/Serializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkNetworkInfoDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkUserInfoDataWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/BaseConfigurator.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/ErrorForgeryFactory.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/ExceptionForgeryFactory.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/forge/Throwable.kt
Labels: size-medium

#748 Fix WindowCallbackWrapper tests
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
Labels: size-tiny

#743 RUMM-1717: Read custom error source type value
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/error-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumErrorSourceType.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
Labels: size-small

#752 Cherry-pick: RUMM-1748: Update dogfood script to target Gradle version catalogs
  .gitlab-ci.yml
  dogfood.py
Labels: size-tiny

#754 RUMM-1759 Prevent crash on uncaught exception
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/thread/ThreadExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/thread/ThreadPoolExecutorExt.kt
Labels: size-tiny

#747 RUMM-1708: Allow to specify custom SDK version
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderV2.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderV2Test.kt
Labels: size-small

#758 RUMM-1714: Ensure new events can be written when event limit per file is reached
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
Labels: size-tiny

#756 Fix missing value in the options of dogfood script
  dogfood.py
Labels: size-tiny

#759 RUMM-1715 add an option to clear all data from Sample app
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/NavActivity.kt
  sample/kotlin/src/main/res/menu/navigation.xml
  sample/kotlin/src/main/res/values/strings.xml
Labels: size-tiny

#762 RUMM-1775 Ensure view is reported as active until it's fully complete
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-small

#757 RUMM-1611: Track clicks in Jetpack Compose
  dd-sdk-android-compose/README.md
  dd-sdk-android-compose/apiSurface
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/ExperimentalTrackingApi.kt
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/InteractionTracking.kt
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/Navigation.kt
  dd-sdk-android-compose/src/test/kotlin/com/datadog/android/compose/TapActionTrackerTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/test/kotlin/androidx/compose/ui/platform/ComposeView.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerTapTest.kt
  detekt.yml
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/ComposeFragment.kt
Labels: size-small

#755 RUMM-1728 Introduce the RumEventConsumer
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/LogsEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/DatadogEventBridgeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebRumEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebRumEventContextProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebRumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/SessionScopeTestConfiguration.kt
Labels: size-large

#761 RUMM-1774 Add the GlobalRum#checkForSessionUpdate method
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventContextProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
Labels: size-tiny

#764 RUMM-1762 Read is_crash info from cross platform attributes
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-small

#768 Corrected Android OS and SDK API level level
  docs/rum_getting_started.md
Labels: size-tiny

#769 Fix detekt warnings
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/HostsSanitizer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventConsumer.kt
  detekt.yml
Labels: size-tiny

#770 Add a CurlInterceptor
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/CurlInterceptor.kt
  detekt.yml
Labels: size-small

#771 RUMM-1771 Do not filter actions without known side effects
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/ViewTreeChangeTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/ViewTreeChangeTrackingStrategyTest.kt
Labels: size-medium

#766 RUMM-1727 Introduce the WebLogsEventConsumer
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/log/log-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/WebRumEventConsumer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/assertj/LogEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/event/LogEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/webview/WebLogEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedLogEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogEventForgeryFactory.kt
Labels: size-medium

#775 RUMM-1800: Use physical gesture direction definition
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
Labels: size-tiny
