Repository DataDog/dd-sdk-android, pull requests merged in 2022-04, with the labels that each got.

#886 RUMM-2093: Update tooling after Kotlin 1.6.10 update
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/test/kotlin/com/example/model/Article.kt
  buildSrc/src/test/kotlin/com/example/model/Bike.kt
  buildSrc/src/test/kotlin/com/example/model/Book.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
  buildSrc/src/test/kotlin/com/example/model/Company.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  buildSrc/src/test/kotlin/com/example/model/Customer.kt
  buildSrc/src/test/kotlin/com/example/model/DateTime.kt
  buildSrc/src/test/kotlin/com/example/model/Delivery.kt
  buildSrc/src/test/kotlin/com/example/model/Demo.kt
  buildSrc/src/test/kotlin/com/example/model/Foo.kt
  buildSrc/src/test/kotlin/com/example/model/Jacket.kt
  buildSrc/src/test/kotlin/com/example/model/Message.kt
  buildSrc/src/test/kotlin/com/example/model/Opus.kt
  buildSrc/src/test/kotlin/com/example/model/Order.kt
  buildSrc/src/test/kotlin/com/example/model/Person.kt
  buildSrc/src/test/kotlin/com/example/model/Product.kt
  buildSrc/src/test/kotlin/com/example/model/Shipping.kt
  buildSrc/src/test/kotlin/com/example/model/Style.kt
  buildSrc/src/test/kotlin/com/example/model/User.kt
  buildSrc/src/test/kotlin/com/example/model/UserMerged.kt
  buildSrc/src/test/kotlin/com/example/model/Version.kt
  buildSrc/src/test/kotlin/com/example/model/Video.kt
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-coil/transitiveDependencies
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-compose/transitiveDependencies
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-fresco/transitiveDependencies
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-glide/transitiveDependencies
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/transitiveDependencies
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/transitiveDependencies
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/transitiveDependencies
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/transitiveDependencies
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-timber/transitiveDependencies
  dd-sdk-android-tv/build.gradle.kts
  dd-sdk-android-tv/transitiveDependencies
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  tools/noopfactory/build.gradle.kts
Labels: size-medium

#890 RUMM-2103: Set Java 11 compilation target
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DetektConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KotlinConfig.kt
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/java/com/datadog/trace/api/Config.java
  instrumented/integration/build.gradle.kts
  instrumented/nightly-tests/build.gradle.kts
  sample/kotlin/build.gradle.kts
Labels: size-tiny

#891 Minor cleanup in tests of core module
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/resource/RumResourceInputStreamTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sqlite/DatadogDatabaseErrorHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/SpanExt.kt
Labels: size-tiny

#888 Track static mocks left
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/annotations/ProhibitLeavingStaticMocksIn.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/extensions/ProhibitLeavingStaticMocksExtension.kt
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/JavaClassWithNestedStaticMock.java
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/JavaClassWithStaticMock.java
  tools/unit/src/test/kotlin/com/datadog/tools/unit/extensions/ProhibitLeavingStaticMocksExtensionTest.kt
Labels: size-medium

#895 RUMM-2090 Print logcat error message when using NoOp implementations
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
Labels: size-tiny

#897 Fix tracked webview hosts in the sample app
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-tiny

#896 app/build.gradle clarification + code snippet
  docs/rum_getting_started.md
Labels: size-tiny

#894 Specify android DSL compile options explicitly
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-tv/build.gradle.kts
  tools/unit/build.gradle.kts
Labels: size-tiny

#899 RUMM-2128 update 403 FORBIDDEN logcat message
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/UploadStatus.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/UploadStatusTest.kt
Labels: size-tiny

#898 Remove flatDir usage in Gradle script
  build.gradle.kts
Labels: size-tiny

#900 RUMM-2104 Prevent negative RUM resource durations
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
Labels: size-small

#902 DOCS-3269 Android TV and Android Support in READMEs and Documentation
  README.md
  docs/README.md
  docs/rum_getting_started.md
Labels: documentation, size-tiny

#901 RUMM-2055: Remove view from Global RUM context when it is stopped
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/GlobalRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-small

#903 DOCS-3019 Adds Android Web View Tracking Documentation
  docs/web_view_tracking.md
Labels: documentation, size-tiny

#908 RUMM-2139: New event storage format
  dd-sdk-android-ndk/src/main/kotlin/com/datadog/android/ndk/NdkCrashReportsPlugin.kt
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataFlusher.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/EncryptedFileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/EventMeta.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FilePersistenceConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/advanced/FeatureFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ByteArrayExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataFlusherTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/EncryptedFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/EventMetaTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/advanced/FeatureFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ByteArrayExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  detekt.yml
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/security/EncryptionTest.kt
Labels: size-large

#911 Stage Branch --> Master
  docs/web_view_tracking.md
Labels: size-tiny

#910 Ignore IO exceptions in Kronos for telemetry reporting
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/LoggingSyncListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/LoggingSyncListenerTest.kt
Labels: size-tiny

#912 RUMM-2150: Fix race condition in the features folders creation logic
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestrator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
Labels: size-tiny

#913 RUMM-2142: Allow global context update if view is stopped in a new session
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-tiny

#914 Pull latest fixes into 1.13.0 release branch
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestrator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/time/LoggingSyncListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/time/LoggingSyncListenerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
Labels: size-small

#916 RUMM-2095: Support new AGP publishing model
  buildSrc/src/main/kotlin/com/datadog/gradle/config/MavenConfig.kt
  gradle.properties
Labels: size-tiny

#915 RUMM-2084: Delete API v1 related classes
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderTest.kt
Labels: size-medium
