Repository DataDog/dd-sdk-android, pull requests merged in 2022-07, with the labels that each got.

#968 RUMM-2226: Fix handling of span scope in RxJava chain
  docs/trace_collection.md
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/DataRepository.kt
Labels: size-tiny

#980 RUMM-2322: Report back interaction as back type, prevent reporting empty target name
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumActionType.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/WindowCallbackWrapperTest.kt
Labels: size-small

#983 Expose Telemetry and addLongTask for internal use
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/_InternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/_RumInternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/telemetry/internal/Telemetry.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/telemetry/internal/TelemetryEventHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/InternalProxyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInternalProxyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/telemetry/internal/TelemetryEventHandlerTest.kt
  instrumented/integration/src/main/kotlin/com/datadog/android/sdk/integration/telemetry/TelemetryPlaygroundActivity.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/main/NotTestableApis.kt
Labels: size-medium

#976 RUMM-2315 Add support to Json Schema's oneOf syntax
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/GenerateJsonSchemaTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinitionReference.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoExtensions.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoSerializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassNameRef.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/EnumClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/Identifier.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/KotlinSpecGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/KotlinTypeWrapper.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/MultiClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/TypeSpecGenerator.kt
  buildSrc/src/test/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReaderTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/NoOpLogger.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGeneratorTest.kt
  buildSrc/src/test/kotlin/com/example/forgery/AnimalForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/forgery/ForgeryConfiguration.kt
  buildSrc/src/test/kotlin/com/example/forgery/HouseholdForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Animal.kt
  buildSrc/src/test/kotlin/com/example/model/Article.kt
  buildSrc/src/test/kotlin/com/example/model/Bike.kt
  buildSrc/src/test/kotlin/com/example/model/Book.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
  buildSrc/src/test/kotlin/com/example/model/Company.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  buildSrc/src/test/kotlin/com/example/model/Customer.kt
  buildSrc/src/test/kotlin/com/example/model/DateTime.kt
  buildSrc/src/test/kotlin/com/example/model/Delivery.kt
  buildSrc/src/test/kotlin/com/example/model/Demo.kt
  buildSrc/src/test/kotlin/com/example/model/Foo.kt
  buildSrc/src/test/kotlin/com/example/model/Household.kt
  buildSrc/src/test/kotlin/com/example/model/Jacket.kt
  buildSrc/src/test/kotlin/com/example/model/Message.kt
  buildSrc/src/test/kotlin/com/example/model/Opus.kt
  buildSrc/src/test/kotlin/com/example/model/Order.kt
  buildSrc/src/test/kotlin/com/example/model/Person.kt
  buildSrc/src/test/kotlin/com/example/model/Product.kt
  buildSrc/src/test/kotlin/com/example/model/Shipping.kt
  buildSrc/src/test/kotlin/com/example/model/Style.kt
  buildSrc/src/test/kotlin/com/example/model/User.kt
  buildSrc/src/test/kotlin/com/example/model/UserMerged.kt
  buildSrc/src/test/kotlin/com/example/model/Version.kt
  buildSrc/src/test/kotlin/com/example/model/Video.kt
  buildSrc/src/test/resources/input/enum.json
  buildSrc/src/test/resources/input/external_description_complex_path.json
  buildSrc/src/test/resources/input/one_of.json
  buildSrc/src/test/resources/input/one_of_ref.json
  buildSrc/src/test/resources/input/subfolder/external_description_proxy.json
Labels: size-huge

#965 Syncing Changes from Develop to Master
  docs/README.md
  docs/rum_getting_started.md
  docs/rum_mobile_vitals.md
  docs/web_view_tracking.md
Labels: size-medium

#966 Android and Android TV Monitoring Formatting Edit
  docs/rum_getting_started.md
Labels: size-tiny

#989 Small fix in the PokoGenerator tool
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/MultiClassGenerator.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/example/model/Animal.kt
  buildSrc/src/test/kotlin/com/example/model/Company.kt
  buildSrc/src/test/kotlin/com/example/model/Household.kt
  buildSrc/src/test/kotlin/com/example/model/Location.kt
  buildSrc/src/test/resources/input/constant.json
Labels: size-tiny

#988 RUMM-2347: Provide core SDK context
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogSite.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewManagerScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/ApplicationInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/DatadogContext.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/DeviceInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/DeviceType.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/TimeInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/UserInfo.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/ContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/DatadogContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/NoOpContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/data/upload/DataFlusher.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/DefaultAndroidInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewManagerScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/AndroidInfoProviderForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/DatadogContextForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/DeviceInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/NetworkInfoV2ForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ProcessInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/TimeInfoForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/UserInfoV2ForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreInitializationTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/DatadogContextProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/data/upload/DataUploadRunnableTest.kt
Labels: size-huge

#991 RUMM-2327 add internal DNS resolver
  dd-sdk-android-glide/src/main/kotlin/com/datadog/android/glide/DatadogGlideModule.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/RotatingDnsResolver.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/RotatingDnsResolverTest.kt
  detekt.yml
Labels: size-small

#994 Fix dogfooding script
  dogfood.py
Labels: size-tiny

#986 RUMM-2330 Generate Session Replay modes based on the JSON schemas
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KtLintConfig.kt
  library/dd-sdk-android-session-replay/.gitignore
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/build.gradle.kts
  library/dd-sdk-android-session-replay/clone_session_replay_schema.gradle.kts
  library/dd-sdk-android-session-replay/generate_session_replay_models.gradle.kts
  library/dd-sdk-android-session-replay/src/main/json/session-replay/_common-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/focus-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/metadata-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/_common-shape-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/_common-shape-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/_common-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/_common-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/full-snapshot-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/incremental-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/incremental-snapshot-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/mutation-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/shape-border-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/shape-style-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/shape-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/shape-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/text-position-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/text-style-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/text-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/text-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/touch-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/viewport-resize-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/mobile/wireframe-update-mutation-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/segment-schema.json
  library/dd-sdk-android-session-replay/src/main/json/session-replay/view-end-record-schema.json
  library/dd-sdk-android-session-replay/transitiveDependencies
Labels: size-large

#996 Use Gradle lazy API more
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/BaseExtensionConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DetektConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/JUnitConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/JavadocConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/NightlyTestsCoveragConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/ApiSurfacePlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/checklicenses/ThirdPartyLicensesPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitclone/GitCloneDependenciesPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/transdeps/TransitiveDependenciesPlugin.kt
  dd-sdk-android/generate_core_models.gradle.kts
  dd-sdk-android/generate_log_models.gradle.kts
  dd-sdk-android/generate_rum_models.gradle.kts
  dd-sdk-android/generate_telemetry_models.gradle.kts
  dd-sdk-android/generate_trace_models.gradle.kts
Labels: size-tiny

#997 RUMM-2094: Gradle 7.5
  Dockerfile.gitlab
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: size-tiny

#993 RUMM-2355 Add Session Replay lifecycle callbacks
  build.gradle.kts
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  detekt.yml
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConfigE2ETests.kt
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/generate_session_replay_models.gradle.kts
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/Processor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/IntExt.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/Node.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/OrientationChanged.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/Recorder.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderOnDrawListener.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorder.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/SnapshotProducer.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallbackTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/IntExtTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/RecorderOnDrawListenerTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorderTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ForgeConfigurator.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/NodeForgeryFactory.kt
Labels: size-large

#998 Cherry-pick recent Gradle changes into develop branch
  Dockerfile.gitlab
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/BaseExtensionConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DetektConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/JUnitConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/JavadocConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/NightlyTestsCoveragConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/apisurface/ApiSurfacePlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/checklicenses/ThirdPartyLicensesPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/gitclone/GitCloneDependenciesPlugin.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/transdeps/TransitiveDependenciesPlugin.kt
  dd-sdk-android/generate_core_models.gradle.kts
  dd-sdk-android/generate_log_models.gradle.kts
  dd-sdk-android/generate_rum_models.gradle.kts
  dd-sdk-android/generate_telemetry_models.gradle.kts
  dd-sdk-android/generate_trace_models.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: size-tiny

#999 Cherry-pick models generation changes into develop branch
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/GenerateJsonSchemaTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonDefinitionReference.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoExtensions.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/PokoSerializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassNameRef.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/EnumClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/Identifier.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/KotlinSpecGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/KotlinTypeWrapper.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/MultiClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/TypeSpecGenerator.kt
  buildSrc/src/test/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReaderTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/NoOpLogger.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGeneratorTest.kt
  buildSrc/src/test/kotlin/com/example/forgery/AnimalForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/forgery/ForgeryConfiguration.kt
  buildSrc/src/test/kotlin/com/example/forgery/HouseholdForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Animal.kt
  buildSrc/src/test/kotlin/com/example/model/Article.kt
  buildSrc/src/test/kotlin/com/example/model/Bike.kt
  buildSrc/src/test/kotlin/com/example/model/Book.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
  buildSrc/src/test/kotlin/com/example/model/Company.kt
  buildSrc/src/test/kotlin/com/example/model/Conflict.kt
  buildSrc/src/test/kotlin/com/example/model/Customer.kt
  buildSrc/src/test/kotlin/com/example/model/DateTime.kt
  buildSrc/src/test/kotlin/com/example/model/Delivery.kt
  buildSrc/src/test/kotlin/com/example/model/Demo.kt
  buildSrc/src/test/kotlin/com/example/model/Foo.kt
  buildSrc/src/test/kotlin/com/example/model/Household.kt
  buildSrc/src/test/kotlin/com/example/model/Jacket.kt
  buildSrc/src/test/kotlin/com/example/model/Location.kt
  buildSrc/src/test/kotlin/com/example/model/Message.kt
  buildSrc/src/test/kotlin/com/example/model/Opus.kt
  buildSrc/src/test/kotlin/com/example/model/Order.kt
  buildSrc/src/test/kotlin/com/example/model/Person.kt
  buildSrc/src/test/kotlin/com/example/model/Product.kt
  buildSrc/src/test/kotlin/com/example/model/Shipping.kt
  buildSrc/src/test/kotlin/com/example/model/Style.kt
  buildSrc/src/test/kotlin/com/example/model/User.kt
  buildSrc/src/test/kotlin/com/example/model/UserMerged.kt
  buildSrc/src/test/kotlin/com/example/model/Version.kt
  buildSrc/src/test/kotlin/com/example/model/Video.kt
  buildSrc/src/test/resources/input/constant.json
  buildSrc/src/test/resources/input/enum.json
  buildSrc/src/test/resources/input/external_description_complex_path.json
  buildSrc/src/test/resources/input/one_of.json
  buildSrc/src/test/resources/input/one_of_ref.json
  buildSrc/src/test/resources/input/subfolder/external_description_proxy.json
Labels: size-huge

#1000 Support sending CPU architecture as part of device info
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/AndroidInfoProviderForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/about/AboutFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/InteractionSample.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/realm/LogRealm.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqldelight/SqlDelightDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqlite/DatadogSqliteHelper.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/picture/SampleGlideModule.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/PiDigitComputerBBP.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/widget/WidgetIntentService.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProvider.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactorySymbolProcessor.kt
  tools/noopfactory/src/test/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProviderTest.kt
Labels: size-medium

#1004 Fix buttons overlap in the sample app
  sample/kotlin/src/main/res/layout/fragment_home.xml
Labels: size-tiny
