Repository DataDog/dd-sdk-android, pull requests merged in 2022-10, with the labels that each got.

#1066 Minor performance optimization during serialization into JSON format
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
Labels: size-tiny

#1060 Update AGP to 7.3.0
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-coil/src/main/AndroidManifest.xml
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-compose/src/main/AndroidManifest.xml
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-fresco/src/main/AndroidManifest.xml
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-glide/src/main/AndroidManifest.xml
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/src/main/AndroidManifest.xml
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/src/androidTest/kotlin/com/datadog/android/ndk/AndroidManifest.xml
  dd-sdk-android-ndk/src/main/AndroidManifest.xml
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/src/main/AndroidManifest.xml
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/src/main/AndroidManifest.xml
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-timber/src/main/AndroidManifest.xml
  dd-sdk-android-tv/build.gradle.kts
  dd-sdk-android-tv/src/main/AndroidManifest.xml
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/AndroidManifest.xml
  gradle/libs.versions.toml
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/AndroidManifest.xml
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/src/androidTest/AndroidManifest.xml
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/sqlite/AndroidManifest.xml
  tools/unit/build.gradle.kts
  tools/unit/src/main/AndroidManifest.xml
Labels: size-tiny

#1063 RUMM-2775 Add Session Replay Uploader
  buildSrc/src/main/kotlin/com/datadog/gradle/config/FlavorBuildConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/SampleAppConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/CurlInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplayRequestFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/net/SessionReplayOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/CurlInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/GzipRequestInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeatureTest.kt
  detekt.yml
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/_common-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/_common-segment-metadata-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/focus-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/meta-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/segment-context-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/view-end-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/viewport-resize-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/viewport-resize-dimension-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/common/visual-viewport-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-shape-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-shape-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/full-snapshot-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/incremental-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/incremental-snapshot-record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/mutation-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/mutation-payload-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/record-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/segment-metadata-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/segment-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/shape-border-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/shape-style-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/shape-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/shape-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/text-position-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/text-style-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/text-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/text-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/touch-data-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/wireframe-update-mutation-schema.json
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/net/BatchesToSegmentsMapper.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/net/BytesCompressor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/EnrichedRecord.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/net/BatchesToSegmentMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/net/BytesCompressorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/EnrichedRecordTest.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-large

#1069 RUMM-2559: Register V1 features as V2
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/single/SingleItemDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkNetworkInfoDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/NdkUserInfoDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/FeatureConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/FeatureStorageConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SdkCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SdkEndpoint.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreInitializationTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/DatadogEventBridgeTest.kt
  detekt.yml
Labels: size-medium

#1070 RUMM-2563: Create storage and uploader outside of the feature
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeatureTest.kt
Labels: size-medium

#1071 RUMM-2568: Remove DataReader v1 usages
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/Storage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorageTest.kt
Labels: size-small

#1076 Merge develop into SDK v2 branch
  CHANGELOG.md
  dd-sdk-android-coil/build.gradle.kts
  dd-sdk-android-coil/src/main/AndroidManifest.xml
  dd-sdk-android-compose/build.gradle.kts
  dd-sdk-android-compose/src/main/AndroidManifest.xml
  dd-sdk-android-fresco/build.gradle.kts
  dd-sdk-android-fresco/src/main/AndroidManifest.xml
  dd-sdk-android-glide/build.gradle.kts
  dd-sdk-android-glide/src/main/AndroidManifest.xml
  dd-sdk-android-ktx/build.gradle.kts
  dd-sdk-android-ktx/src/main/AndroidManifest.xml
  dd-sdk-android-ndk/build.gradle.kts
  dd-sdk-android-ndk/src/androidTest/kotlin/com/datadog/android/ndk/AndroidManifest.xml
  dd-sdk-android-ndk/src/main/AndroidManifest.xml
  dd-sdk-android-rx/build.gradle.kts
  dd-sdk-android-rx/src/main/AndroidManifest.xml
  dd-sdk-android-sqldelight/build.gradle.kts
  dd-sdk-android-sqldelight/src/main/AndroidManifest.xml
  dd-sdk-android-timber/build.gradle.kts
  dd-sdk-android-timber/src/main/AndroidManifest.xml
  dd-sdk-android-tv/build.gradle.kts
  dd-sdk-android-tv/src/main/AndroidManifest.xml
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/AndroidManifest.xml
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MiscUtils.kt
  gradle/libs.versions.toml
  instrumented/integration/build.gradle.kts
  instrumented/integration/src/androidTest/AndroidManifest.xml
  instrumented/integration/src/main/AndroidManifest.xml
  instrumented/nightly-tests/build.gradle.kts
  instrumented/nightly-tests/src/androidTest/AndroidManifest.xml
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/AndroidManifest.xml
  sample/kotlin/src/sqlite/AndroidManifest.xml
  tools/unit/build.gradle.kts
  tools/unit/src/main/AndroidManifest.xml
Labels: size-huge

#1077 RUMM-2441 Optimize BaseWireframeMapper#colorAndAlphaAsStringHexa function
  detekt.yml
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewScreenshotWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseTextViewWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ButtonWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewScreenshotWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewWireframeMapperTest.kt
Labels: size-tiny

#1080 RUMM-2528 prevent crash on peekBody
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  detekt.yml
Labels: size-tiny

#1079 RUMM-2536: Use SDK v2 configuration interfaces for features
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/GlobalRum.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/FragmentViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplayRecordPersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumMonitorBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/FeatureStorageConfigurationForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorageTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeatureTest.kt
  detekt.yml
Labels: size-large

#1082 RUMM-2600 SR accept optional Typeface when resolving fontStyle
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/TextWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseTextViewWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ButtonWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/TextViewWireframeMapperTest.kt
Labels: size-tiny

#1084 Migrate ktlint CI job to shared gitlab template
  .gitlab-ci.yml
Labels: size-tiny

#1078 RUMM-2651 SR - skip new lines and spaces when obfuscating texts
  detekt.yml
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/MaskAllTextWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/StringObfuscator.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseTextViewWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/MaskAllTextViewWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/StringObfuscatorTest.kt
Labels: size-small, size-medium

#1085 RUMM-2463 Add API to enable/disable tracking of frustration signals
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewManagerScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumApplicationScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewManagerScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationRumForgeryFactory.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorBackgroundE2ETests.kt
Labels: size-small

#1083 Create internal API for sending technical performance metrics
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/json/rum/_perf-metric-schema.json
  dd-sdk-android/src/main/json/rum/action-schema.json
  dd-sdk-android/src/main/json/rum/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumPerformanceMetric.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/_RumInternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInternalProxyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorE2ETests.kt
Labels: size-medium

#1089 RUMM-2659 editable additional attributes
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/test/kotlin/com/example/forgery/CommentForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/forgery/CompanyForgeryFactory.kt
  buildSrc/src/test/kotlin/com/example/model/Comment.kt
  buildSrc/src/test/kotlin/com/example/model/Company.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MapUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/event/LogEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/user/DatadogUserInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/event/LogEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/user/DatadogUserInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LogEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/SpanEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
  detekt.yml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
Labels: size-small

#1092 RUMM-2289 Add tracing sampling attribute
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReaderTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGeneratorTest.kt
  buildSrc/src/test/kotlin/com/example/model/Paper.kt
  buildSrc/src/test/resources/input/one_of_complex.json
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_action-child-schema.json
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/json/rum/_perf-metric-schema.json
  dd-sdk-android/src/main/json/rum/action-schema.json
  dd-sdk-android/src/main/json/rum/error-schema.json
  dd-sdk-android/src/main/json/rum/long_task-schema.json
  dd-sdk-android/src/main/json/rum/resource-schema.json
  dd-sdk-android/src/main/json/rum/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/sampling/RateBasedSampler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/sampling/Sampler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSourceProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
Labels: size-medium

#1094 RUMM-2672: Make Storage#writeCurrentBatch async
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ConcurrencyExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/EventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/FeatureScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/BatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/FileEventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/NoOpEventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/Storage.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorageTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/FileEventBatchWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/NoOpEventBatchWriterTest.kt
  detekt.yml
Labels: size-large

#1093 Publish SNAPSHOT builds to sonatype on pushes to develop
  .gitlab-ci.yml
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/utils/Version.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/utils/VersionTest.kt
Labels: size-tiny

#1095 Move package from AndroidManifest to namespace plugin config property for Session Replay module
  library/dd-sdk-android-session-replay/build.gradle.kts
  library/dd-sdk-android-session-replay/src/main/AndroidManifest.xml
Labels: size-tiny

#1091 MTG-6 Update ktlint to 0.47.1
  .editorconfig
  .gitlab-ci.yml
  CONTRIBUTING.md
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/BaseExtensionConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DependencyUpdateConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/DetektConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/JavadocConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/KotlinConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/MavenConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/config/NightlyTestsCoveragConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/checklicenses/CheckThirdPartyLicensesTask.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/checklicenses/SPDXLicense.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/JsonSchemaReader.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/TypeDefinition.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassDeserializerGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/ClassGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/generator/FileGenerator.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/transdeps/TransitiveDependenciesPlugin.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/ModelValidationTest.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/plugin/jsonschema/TestDefinitions.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogEventListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraints.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/MapUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/telemetry/internal/TelemetryEventHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensions.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
Labels: size-small

#1096 Add version to top level project for nexusPublishing extension
  build.gradle.kts
Labels: size-tiny

#1097 RUMM-2674: Make implementations of EventBatchWriter return result instead of using listener
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/BatchWriterListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/EventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/FileEventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/NoOpEventBatchWriter.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/FileEventBatchWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/NoOpEventBatchWriterTest.kt
Labels: size-small

#1098 Fix import ordering
  build.gradle.kts
Labels: size-tiny

#1102 Update .gitlab-ci.yml
  .gitlab-ci.yml
Labels: size-tiny

#1101 RUMM-2496 SR Correctly handle clipped elements and scrollable lists
  detekt.yml
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-wireframe-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/_common-wireframe-update-schema.json
  library/dd-sdk-android-session-replay/src/main/json/schemas/session-replay/mobile/wireframe-clip-schema.json
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/MobileSegmentExt.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/MutationResolver.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/NodeFlattener.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/WireframeUtils.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/Node.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/SnapshotProducer.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/ViewUtils.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/MutationResolverTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/NodeFlattenerTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/WireframeUtilsTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ForgeExt.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/SnapshotProducerTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ViewUtilsTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ForgeConfigurator.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/NodeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ShapeWireframeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ShapeWireframeMutationForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/TextWireframeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/TextWireframeMutationForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/WireframeClipForgeryFactory.kt
Labels: size-large

#1106 RUMM-2608: Use event write context for Traces
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/NoOpWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/data/TraceWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ContextAwareMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ContextAwareSerializer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/assertj/SpanEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/data/TraceWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventSerializerTest.kt
Labels: size-medium

#1107 RUMM-2682: Use event write context for Session Replay
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplayRecordPersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplaySerializedRecordWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/storage/NoOpRecordWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/storage/SessionReplayRecordWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplaySerializedRecordWriterTest.kt
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/RecordWriter.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/SerializedRecordWriter.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallbackTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/writer/RecordWriterTest.kt
Labels: size-small

#1108 RUMM-2689 SR Flush buffered motion event positions periodically
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallback.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallbackTest.kt
Labels: size-small

#1109 Fix source key in SR upload form
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/net/SessionReplayOkHttpUploader.kt
Labels: size-tiny

#1111 Fix caching of models generation task
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/GenerateJsonSchemaTask.kt
Labels: size-tiny

#1110 RUMM-2693 Increase the screen snapshot frequency
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderOnDrawListener.kt
Labels: size-tiny

#1113 Fix WireframeUtils flaky tests
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/WireframeUtilsTest.kt
Labels: size-tiny
