Repository DataDog/dd-sdk-android, pull requests merged in 2022-02, with the labels that each got.

#834 RUMM-1942 Improve the perfs measurements methods in nightly tests
  CONTRIBUTING.md
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorBackgroundE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorE2ETests.kt
Labels: size-medium

#840 RUMM-1959 Add DatadogEventBridge#setup utility api for web view tracking
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/DatadogEventBridge.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/DatadogEventBridgeTest.kt
  detekt.yml
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
Labels: size-tiny

#839 RUMM-1958 Add nightly-tests for WebView tracking feature
  LICENSE-3rdparty.csv
  build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  gradle/libs.versions.toml
  instrumentation-tools/nightly_tests_code_coverage.py
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/webview/WebViewTrackingE2ETests.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/WebViewTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/WebViewTrackingBridgeHostsActivity.kt
  instrumented/nightly-tests/src/main/res/layout/webview_tracking_activity.xml
  instrumented/nightly-tests/src/main/res/xml/network_security_config.xml
Labels: size-small

#836 DOCS-3052 Android Monitoring Edits
  docs/configure_rum_android_sdk.md
  docs/integrated_libraries_android.md
  docs/mobile_data_collected.md
  docs/rum_getting_started.md
  docs/rum_mobile_vitals.md
  docs/troubleshooting_android.md
Labels: size-small

#846 RUMM-1963 Automatic update Flutter SDK
  .gitlab-ci.yml
  dogfood.py
Labels: size-tiny

#845 Fix the signal handler to use a statically allocated backtrace heap
  dd-sdk-android-ndk/src/main/cpp/utils/backtrace-handler.cpp
  dd-sdk-android-ndk/src/main/cpp/utils/signal-monitor.c
  dd-sdk-android-ndk/src/test/cpp/test-signal-monitor.cpp
Labels: size-tiny

#852 Add compose to the list of published artifacts
  .gitlab-ci.yml
Labels: size-tiny

#853 RUMM-1968 don't warn for silent orphan events
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
Labels: size-tiny

#851 RUMM-2011 reduce number of reflection in tests
  buildSrc/src/main/kotlin/com/datadog/gradle/config/NightlyTestsCoveragConfig.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/StaticAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/event/MapperSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/event/LogEventMapperWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/AndroidTracer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/SpanEventMapperWrapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/SpanMapperSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewInternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/constraints/DatadogDataConstraintsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/AndroidTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/utils/TracerExtensionsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/opentracing/scopemanager/ScopeTestHelper.kt
  instrumented/integration/proguard-rules.pro
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/rules/MockServerActivityTestRule.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/GdprSpanE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/MiscUtils.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
  tools/unit/src/main/kotlin/com/datadog/tools/unit/ReflectUtils.kt
Labels: size-medium

#855 RUMM-1938 Add mention of encryption (or lack thereof)
  docs/README.md
  docs/log_collection.md
  docs/mobile_data_collected.md
Labels: size-tiny

#842 RUMM-1960 Fix performance nightly tests and apply detekt custom rules to nightly-test module
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/crash/JvmCrashHandlerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/crash/NdkCrashHandlerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanE2ETests.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/WebViewTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/WebViewTrackingBridgeHostsActivity.kt
Labels: size-medium, size-large, size-tiny
