Repository DataDog/dd-sdk-android, pull requests merged in 2022-09, with the labels that each got.

#1026 RUMM-2380: Enable custom application version support
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/_InternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/_RumInternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/InternalProxyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/DefaultAppVersionProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumerTest.kt
  detekt.yml
Labels: size-medium

#1027 Prepare 1.14.0-beta2 release
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
Labels: size-tiny

#1030 RUMM-2353: Report frustration count on views
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/AdvancedRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/StorageEvent.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEventExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
Labels: size-small

#1031 Merge the head (1.14.0-beta2) of release/1.14.0 branch into develop branch
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dogfood.py
Labels: size-small

#1032 RUMM-2477: Update Cmake to 3.22.1
  Dockerfile.gitlab
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ndk/CMakeLists.txt
  instrumented/nightly-tests/src/main/cpp/CMakeLists.txt
  sample/kotlin/src/main/cpp/CMakeLists.txt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
Labels: size-tiny

#1023 Add configuration method to disable action tracking.
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ConfigurationRumAssert.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/main/NotTestableApis.kt
Labels: size-tiny

#1033 RUMM-2423 SnapshotProcessor - process wireframe mutations
  detekt.yml
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/MobileSegmentExt.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/MutationResolver.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/NodeFlattener.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/MutationResolverTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/NodeFlattenerTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ForgeConfigurator.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/MutationDataForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ShapeWireframeMutationForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/TextWireframeMutationForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/WireframeUpdateMutationForgeryFactory.kt
Labels: size-large

#1036 RUMM-2333: Features can store their context in SDK context
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/DatadogContext.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/ContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/DatadogContextProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/DatadogContextForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/DatadogContextProviderTest.kt
  detekt.yml
Labels: size-small

#1037 RUMM-2494 Use View hashcode as unique identifier for mapped Wireframe
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapper.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ForgeExt.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/BaseWireframeMapperTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/mapper/ViewWireframeMapperTest.kt
Labels: size-tiny

#1038 RUMM-2497 SnapshotProcessor - do not write anything if there was no mutation detected
  build.gradle.kts
  detekt.yml
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/MutationResolver.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/MutationResolverTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
Labels: size-small

#1042 RUMM-2492: Check if WorkManager is initialized before using it
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
Labels: size-tiny

#1043 Cherry-pick "disable action tracking" into 1.14.0
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ConfigurationRumAssert.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/main/NotTestableApis.kt
Labels: size-tiny

#1045 Updates CODEOWNERS
  .github/CODEOWNERS
Labels: size-tiny

#1040 RUMM-2501: Use SDK v2 components in the upload pipeline
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/UploadWorker.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/PersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/BatchWriterListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/RequestFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/context/DatadogContext.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/DatadogContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/NoOpContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/data/upload/DataUploadRunnable.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/net/DataOkHttpUploader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/Storage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/log/internal/net/LogsRequestFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/rum/internal/net/RumRequestFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/tracing/internal/net/TracesRequestFactory.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/DatadogContextForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/net/DataOkHttpUploaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorageTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/log/internal/net/LogsRequestFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/rum/internal/net/RumRequestFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/tracing/internal/net/TracesRequestFactoryTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeatureTest.kt
Labels: size-large

#1044 Prepare final release of 1.14.0
  CHANGELOG.md
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
Labels: size-tiny

#1052 Merge develop into SDK v2 branch
  .github/CODEOWNERS
  CHANGELOG.md
  Dockerfile.gitlab
  buildSrc/src/main/kotlin/com/datadog/gradle/Dependencies.kt
  dd-sdk-android-ndk/CMakeLists.txt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/DatadogExceptionHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/lifecycle/ProcessLifecycleCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/WorkManagerUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ConfigurationRumAssert.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/main/NotTestableApis.kt
  instrumented/nightly-tests/src/main/cpp/CMakeLists.txt
  sample/kotlin/src/main/cpp/CMakeLists.txt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
Labels: size-small

#1051 RUMM-2504: Switch to the SDK v2 storage component
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumDataWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/BatchWriterListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/EventBatchWriter.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/ContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorage.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/RumDataWriterTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/internal/storage/ConsentAwareStorageTest.kt
  detekt.yml
Labels: size-medium

#1054 RUMM-2542 Send hasReplay property for RUM events
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/FeaturesContextResolver.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayRecordCallback.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayRumContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplayRecordPersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/domain/SessionReplayRequestFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/FeaturesContextResolverTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayRecordCallbackTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayRumContextProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  detekt.yml
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/NoOpRecordCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/RecordCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallback.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallbackTest.kt
Labels: size-medium

#1059 Android Data Collected Edits
  docs/mobile_data_collected.md
Labels: size-tiny

#1056 Update DatadogCore initialization tests
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreInitializationTest.kt
Labels: size-medium

#1057 Cherry-pick: Support sending CPU architecture as part of device info
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/AndroidInfoProviderForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/about/AboutFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/InteractionSample.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/realm/LogRealm.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqldelight/SqlDelightDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqlite/DatadogSqliteHelper.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/picture/SampleGlideModule.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/PiDigitComputerBBP.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/widget/WidgetIntentService.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProvider.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactorySymbolProcessor.kt
  tools/noopfactory/src/test/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProviderTest.kt
Labels: size-medium

#1058 Prepare 1.14.1 release
  CHANGELOG.md
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
Labels: size-tiny

#1062 Merge release 1.14.1 into master
  CHANGELOG.md
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAndroidInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ErrorEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/LongTaskEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ResourceEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ViewEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/AndroidInfoProviderForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ErrorEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/LongTaskEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ResourceEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ViewEventForgeryFactory.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/about/AboutFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/InteractionSample.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/crash/CrashFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/realm/LogRealm.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqldelight/SqlDelightDataSource.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/data/db/sqlite/DatadogSqliteHelper.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/picture/SampleGlideModule.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/traces/TracesViewModel.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/user/UserFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/vitals/PiDigitComputerBBP.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/widget/WidgetIntentService.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProvider.kt
  tools/noopfactory/src/main/kotlin/com/datadog/tools/noopfactory/NoOpFactorySymbolProcessor.kt
  tools/noopfactory/src/test/kotlin/com/datadog/tools/noopfactory/NoOpFactoryProviderTest.kt
Labels: size-medium

#1061 Merge release 1.14.1 into develop
  CHANGELOG.md
Labels: size-tiny
