Repository DataDog/dd-sdk-android, pull requests merged in 2022-05, with the labels that each got.

#920 RUMM-2042: Filter Datadog logs per level
  dd-sdk-android-timber/apiSurface
  dd-sdk-android-timber/src/main/kotlin/com/datadog/android/timber/DatadogTree.kt
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandler.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/LoggerBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerBuilderE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsUtils.kt
Labels: size-small

#918 RUMM-2137 Datadog singleton
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/RuntimeUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKCore.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKFeatureConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKFeatureStorageConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/api/SDKFeatureUploadConfiguration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/CustomAttributes.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/CustomAttributesForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreInitializationTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/v2/core/DatadogCoreTest.kt
  dd-sdk-android/src/testDebug/java/com/datadog/android/log/internal/logger/LogcatLogHandlerJavaTest.java
Labels: size-large

#922 RUMM-2042: Fix E2E test
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LoggerBuilderE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsUtils.kt
Labels: size-tiny

#921 DOCS-3465 Android Data Collected Edit
  docs/mobile_data_collected.md
Labels: size-tiny

#925 Fix the logic of joining byte arrays when there is no items
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ByteArrayExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ByteArrayExtTest.kt
  detekt.yml
Labels: size-tiny

#927 Add github diff link on PR generated by the CI on new versions
  dogfood.py
Labels: size-tiny

#926 RUMM-2076 Add the Configuration#setVitalsMonitorUpdateFrequency API
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/VitalsUpdateFrequency.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/thread/NoOpScheduledExecutorService.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationRumForgeryFactory.kt
  detekt.yml
Labels: size-medium

#929 RUMM-2183 Nightly tests for ConfigurationBuilder#setVitalsUpdateFrequency
  build.gradle.kts
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConfigE2ETests.kt
Labels: size-small

#934 RUMM-2165: Add trace sampling for instrumented network requests
  dd-sdk-android-glide/README.md
  dd-sdk-android-glide/apiSurface
  dd-sdk-android-glide/src/main/kotlin/com/datadog/android/glide/DatadogGlideModule.kt
  dd-sdk-android/README.md
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/java/com/datadog/opentracing/propagation/DatadogHttpCodec.java
  dd-sdk-android/src/main/kotlin/com/datadog/android/DatadogInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumInterceptor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracedRequestListener.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/TracingInterceptor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutRumTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogInterceptorWithoutTracesTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/RumInterceptorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNonDdTracerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorNotSendingSpanTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/TracingInterceptorTest.kt
  detekt.yml
  docs/trace_collection.md
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumResourceTrackingE2ETests.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingCustomSpanAttributesActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingNetworkInterceptorActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/activities/ResourceTrackingTraceSamplingActivity.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/server/LocalServer.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/picture/SampleGlideModule.kt
Labels: size-large

#938 Android Advanced Configuration Edits
  docs/configure_rum_android_sdk.md
Labels: documentation, size-small, size-tiny

#941 RUMM-2229 remove Navigation dependency in main library
  dd-sdk-android-compose/apiSurface
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/AcceptAllNavDestinations.kt
  dd-sdk-android-compose/src/main/kotlin/com/datadog/android/compose/Navigation.kt
  dd-sdk-android-compose/src/test/kotlin/com/datadog/android/compose/AcceptAllNavDestinationsTest.kt
  dd-sdk-android-compose/transitiveDependencies
  dd-sdk-android/apiSurface
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/utils/ViewUtils.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ViewUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategyTest.kt
  dd-sdk-android/transitiveDependencies
  gradle/libs.versions.toml
  instrumented/nightly-tests/build.gradle.kts
  sample/kotlin/build.gradle.kts
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleFragmentPredicate.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/NavigationSample.kt
Labels: size-medium

#940 Don't report telemetry for unknown web events
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/MixedWebViewEventConsumer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/MixedWebViewEventConsumerTest.kt
Labels: size-tiny

#942 RUMM-2229 Prepare release version 1.13.0-no-name
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  buildSrc/src/main/kotlin/com/datadog/gradle/utils/Version.kt
  buildSrc/src/test/kotlin/com/datadog/gradle/utils/VersionTest.kt
Labels: size-tiny

#924 DOCS-3301 add documentation to track background events
  docs/rum_getting_started.md
Labels: documentation, size-tiny
