Repository DataDog/dd-sdk-android, pull requests merged in 2022-01, with the labels that each got.

#798 Fix NDK Crash E2E test failure caused by missing RUM view at the time of crash
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/services/CrashService.kt
Labels: size-tiny

#800 RUMM-1228: Reduce test coverage flakiness
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExtTest.kt
Labels: size-medium

#801 RUMM-1797: Ignore kotlin.FunctionX.invoke calls in the UnsafeThirdPartyCall check
  detekt.yml
  tools/detekt/src/main/kotlin/com/datadog/tools/detekt/rules/UnsafeThirdPartyFunctionCall.kt
  tools/detekt/src/test/kotlin/com/datadog/tools/detekt/rules/UnsafeThirdPartyFunctionCallTest.kt
Labels: size-tiny

#802 RUMM-1877 Send dummy RUM WebViewEvent only for RUM JS ingested events
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventContextProvider.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumerTest.kt
Labels: size-small

#789 DOCS-2849 Add Mobile Vitals Doc Page + Screenshots
  docs/README.md
  docs/configure_rum_android_sdk.md
  docs/images/mobile_vitals.png
  docs/images/refresh_rate_and_mobile_vitals.png
  docs/rum_mobile_vitals.md
Labels: documentation, editorial review, waiting-for-info, size-tiny

#803 RUMM-1873: Improve build pipeline speed
  .gitlab-ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/datadog/gradle/plugin/jsonschema/GenerateJsonSchemaTask.kt
Labels: size-tiny

#806 RUMM-1858: Use parametrized test instead of anElementFrom/aValueFrom calls
  dd-sdk-android-compose/src/test/kotlin/com/datadog/android/compose/ComposeNavigationObserverTest.kt
  dd-sdk-android-compose/src/test/kotlin/com/datadog/android/compose/SwipeAndScrollActionTrackerTest.kt
  dd-sdk-android-ndk/src/test/kotlin/NdkCrashReportsPluginTest.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/BuildSdkVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultBuildSdkVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacks.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/SdkFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/privacy/TrackingConsentProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataUploadRunnableTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/BroadcastReceiverNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/info/CallbackNetworkInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileOrchestratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/BroadcastReceiverSystemInfoProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/RuntimeUtilsTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/CrashReportsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/LogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/RumFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/event/RumEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/ExternalResourceTimingsKtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListenerScrollSwipeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/tracking/OreoFragmentLifecycleCallbacksTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/tracking/NavigationViewTrackingStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/TracingFeatureTest.kt
Labels: size-medium, size-large

#810 RUMM-1423: Fix flaky UploadWorkerTest setup
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/UploadWorkerTest.kt
Labels: size-tiny

#808 Update RUM Schema
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/json/rum/error-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumErrorSourceType.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
Labels: size-small

#812 RUMM-1915 Fix the Java code snippets in the docs
  docs/integrated_libraries_android.md
  docs/log_collection.md
  docs/native_crash_collection.md
  docs/rum_getting_started.md
  docs/trace_collection.md
Labels: size-small

#809 RUMM-1732: Enable back LogcatLogHandler#resolves_nested_stack_trace_element_from_caller test
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/LogcatLogHandlerTest.kt
Labels: size-tiny

#813 RUMM-1531 Support json float fields in test assertions
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/JsonElementAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/GsonJsonPrimitiveForgeryFactory.kt
Labels: size-tiny

#815 RUMM-1920 Do not override 'service' property for WebView tracked events
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventMapperTest.kt
Labels: size-tiny

#819 RUMM-1853 Report the correct source for spans
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
Labels: size-tiny

#817 RUMM-1868: Explicitly define supported TLS versions and cipher suites
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  detekt.yml
Labels: size-tiny

#822 RUMM-1326 track Activity Intent action and data URI
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityLifecycleTrackingStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/tracking/ActivityViewTrackingStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/ActivityViewTrackingStrategyTest.kt
Labels: size-tiny

#824 RUMM-1937 Provide WebView tracking code snippets
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebChromeClient.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/webview/RumWebViewClient.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/SampleApplication.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/JetpackComposeActivity.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/compose/NavigationSample.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebFragment.kt
  sample/kotlin/src/main/kotlin/com/datadog/android/sample/webview/WebViewModel.kt
Labels: size-tiny

#823 RUMM-1898 RumMonitor#stopResourceWithError with stacktrace and errorType properties
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/RumMonitor.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumRawEvent.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/monitor/DatadogRumMonitor.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumSessionScopeTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorBackgroundE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumMonitorE2ETests.kt
Labels: size-medium

#827 Bump to version 1.12.0-alpha1
  buildSrc/src/main/kotlin/com/datadog/gradle/config/AndroidConfig.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumResourceScopeTest.kt
Labels: size-tiny

#830 RUMM-1947 fix dogfooding script
  dogfood.py
Labels: size-tiny

#829 Fix a broken link to troubleshooting doc in README
  README.md
Labels: size-tiny

#833 RUMM-1801 Use location relative to window
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/GesturesListener.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/instrumentation/gestures/AbstractGesturesListenerTest.kt
  detekt.yml
Labels: size-tiny

#832 RUMM-1950 DatadogEventBridge - consume serialized rum web events
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/log/webview-log-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/event/WebViewLogEventSerializer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/WebViewEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewInternalLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewInternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventMapper.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/event/WebViewLogEventSerializerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/assertj/DeserializedWebViewLogEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ForgeExt.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/WebViewLogEventForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/WebViewEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewInternalLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogsFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventMapperTest.kt
Labels: size-large

#826 RUMM-1869: Support encryption for local data storage
  dd-sdk-android/apiSurface
  dd-sdk-android/build.gradle.kts
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/SecurityConfig.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/SdkFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/data/upload/DataFlusher.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/EncryptedFileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/FileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReader.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/LogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/monitoring/internal/InternalLogsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/RumFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandler.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/security/Encryption.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/configuration/ConfigurationBuilderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/data/upload/DataFlusherTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/EncryptedFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/FileExtTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileDataReaderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFileHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/persistence/file/batch/BatchFilePersistenceStrategyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/ndk/DatadogNdkCrashHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ConfigurationCoreForgeryFactory.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/Configurator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/SecurityConfigForgeryFactory.kt
  detekt.yml
  instrumented/integration/proguard-rules.pro
  instrumented/integration/src/androidTest/kotlin/com/datadog/android/sdk/integration/security/EncryptionTest.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/crash/NdkCrashHandlerE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/logs/LogsConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/rum/RumConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/trace/SpanConfigE2ETests.kt
  instrumented/nightly-tests/src/androidTest/kotlin/com/datadog/android/nightly/utils/TestEncryption.kt
  instrumented/nightly-tests/src/main/AndroidManifest.xml
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/services/CrashService.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/services/NdkCrashService.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/services/RumEncryptionEnabledNdkCrashService.kt
  instrumented/nightly-tests/src/main/kotlin/com/datadog/android/nightly/utils/NeverUseThatEncryption.kt
Labels: size-large

#837 RUMM-1953 Lazy webview hosts
  build.gradle.kts
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/configuration/Configuration.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/MixedWebViewEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/WebViewEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumer.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/DatadogEventBridgeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/MixedWebViewEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/rum/WebViewRumEventConsumerTest.kt
Labels: size-medium

#838 RUMM-1933 Java Error nested stack trace
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/utils/ThrowableExtTest.kt
Labels: size-tiny
