Repository DataDog/dd-sdk-android, pull requests merged in 2022-08, with the labels that each got.

#1006 RUMM-2349 Add frustration signal 'Error Tap'
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/json/rum/_common-schema.json
  dd-sdk-android/src/main/json/rum/action-schema.json
  dd-sdk-android/src/main/json/rum/view-schema.json
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScope.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumEventExt.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScope.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/assertj/ActionEventAssert.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumContinuousActionScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/domain/scope/RumViewScopeTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/forge/ActionEventForgeryFactory.kt
  detekt.yml
Labels: size-medium

#1011 Adds Secondary Doc Reviewer
  .github/CODEOWNERS
Labels: size-tiny

#1010 Android Monitoring Doc Edit
  docs/mobile_data_collected.md
Labels: size-tiny

#1012 Replace references to iOS classes with correct Android equivalents.
  docs/mobile_data_collected.md
Labels: size-tiny

#1005 RUMM-2377 Add checks on intake request headers
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/net/DataOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/net/LogsOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/net/TracesOkHttpUploaderV2Test.kt
  detekt.yml
Labels: size-small

#1009 RUMM-2385 Intercept window touch events as Session Replay TouchData
  dd-sdk-android-coil/transitiveDependencies
  dd-sdk-android-glide/transitiveDependencies
  dd-sdk-android-tv/transitiveDependencies
  dd-sdk-android/build.gradle.kts
  detekt.yml
  library/dd-sdk-android-session-replay/build.gradle.kts
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/Processor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorder.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayTimeProvider.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/TimeProvider.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallbackTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorderTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayTimeProviderTest.kt
Labels: size-medium

#1016 Use a gitlab template for analysis generated files check
  .gitlab-ci.yml
  build.gradle.kts
Labels: size-tiny

#1003 Update statement about default view tracking strategy in the docs
  docs/configure_rum_android_sdk.md
Labels: size-tiny

#1017 Merge master branch into develop
  docs/configure_rum_android_sdk.md
  docs/mobile_data_collected.md
  docs/rum_getting_started.md
Labels: size-tiny

#1015 Add setVitalsUpdateFrequency to the doc
  docs/configure_rum_android_sdk.md
Labels: size-tiny

#1020 RUMM-2380: Enable custom application version support
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/Datadog.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/_InternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/AppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/DefaultAppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/system/NoOpAppVersionProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/_RumInternalProxy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/RumFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/TracingFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/TracesFilePersistenceStrategy.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapper.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/DatadogEventBridge.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumer.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/webview/internal/rum/WebViewRumFeature.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/DatadogTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/InternalProxyTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/CoreFeatureTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/core/internal/system/DefaultAppVersionProviderTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/rum/internal/net/RumOkHttpUploaderV2Test.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/tracing/internal/domain/event/DdSpanToSpanEventMapperTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/utils/config/CoreFeatureTestConfiguration.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/webview/internal/log/WebViewLogEventConsumerTest.kt
  detekt.yml
Labels: size-medium

#1021 DOCS-3982 Android Integrated Libraries Update
  README.md
  docs/integrated_libraries_android.md
Labels: size-tiny

#1024 Sync Doc Changes From Master to Develop
  docs/configure_rum_android_sdk.md
Labels: size-tiny

#1025 RUMM-2448: Add variant tag to logs
  dd-sdk-android/apiSurface
  dd-sdk-android/src/main/kotlin/com/datadog/android/core/internal/CoreFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/error/internal/CrashReportsFeature.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/LogAttributes.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/Logger.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/log/internal/domain/LogGenerator.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/error/internal/DatadogExceptionHandlerTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/domain/LogGeneratorTest.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/log/internal/logger/DatadogLogHandlerTest.kt
Labels: size-small

#1013 RUMM-2421 Processor - process FullSnapshotRecords and dispatch to persister
  dd-sdk-android/src/main/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayContextProvider.kt
  dd-sdk-android/src/main/kotlin/com/datadog/android/v2/core/DatadogCore.kt
  dd-sdk-android/src/test/kotlin/com/datadog/android/sessionreplay/internal/SessionReplayContextProviderTest.kt
  detekt.yml
  library/dd-sdk-android-session-replay/apiSurface
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/EnrichedRecord.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallback.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorder.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/RumContextProvider.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayRumContext.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/writer/RecordWriter.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/writer/Writer.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/SessionReplayLifecycleCallbackTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/RecorderWindowCallbackTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ScreenRecorderTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ForgeConfigurator.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/NodeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayRumContextForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayRumContextTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/ShapeWireframeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/TextWireframeForgeryFactory.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/utils/WireframeForgeryFactory.kt
Labels: size-large

#1014 RUMM-2422 Process Session Replay touch and orientation change events
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessor.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayRumContext.kt
  library/dd-sdk-android-session-replay/src/main/kotlin/com/datadog/android/sessionreplay/utils/SessionReplayTimeProvider.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/processor/SnapshotProcessorTest.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/ForgeExt.kt
  library/dd-sdk-android-session-replay/src/test/kotlin/com/datadog/android/sessionreplay/recorder/SnapshotProducerTest.kt
Labels: size-medium

#1028 Small Link Nit
  docs/configure_rum_android_sdk.md
Labels: size-tiny
